<h2><%= t('view.shift_closures.title') %></h2>

<%= simple_form_for @shift_closure do |f| %>
    <%= content_for :js_extra do %>
      <%= raw "var withdraw='#{generate_template(f, :withdraws)}';" %>
      <%= raw "var upfront='#{generate_template(f, :upfronts)}';" %>
    <% end %>


  <%= f.error_notification %>
  <% if (errors = f.object.errors).any? && errors[:base].present? %>
    <div class="alert alert-error">
      <% errors[:base].each do |error| %>
        - <%= error %><br />
      <% end %>
    </div>
  <% end %>

  <div class="form-inputs" id="shift_closure_form">
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :start_at, as: :datetime_picker %>
      </div>
      <div class="span4">
        <%= f.input :finish_at, as: :datetime_picker %>
      </div>
      <div class="span4">
        <%= f.label :helper_user_id, nil, for: :shift_closure_auto_helper_user_name %>
        <%= f.input :auto_helper_user_name, label: false, input_html: {
          value: @shift_closure.helper_user, class: 'autocomplete-field',
          data: {
            'autocomplete-id-target' => '#shift_closure_helper_user_id',
            'autocomplete-url' => autocomplete_for_user_name_users_path(format: :json)
          }
        } %>
        <%= f.input :helper_user_id, as: :hidden %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :initial_amount %>
      </div>
      <div class="span4">
        <%= f.input :cashbox_amount %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :administration_copies %>
      </div>
      <div class="span4">
        <%= f.input :failed_copies %>
      </div>
    </div>
    <hr />
    <div class="row-fluid">
      <div class="span6">
        <h4><%= 'Contadores' %></h4>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th><%= ShiftClosure.human_attribute_name 'printer' %></th>
              <th colspan="2"><%= ShiftClosure.human_attribute_name 'counter' %></th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :printers_stats do |ff| %>
              <%= render 'counters', f: ff %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="span6">
        <div class="row-fluid">
          <h4><%= ShiftClosure.human_attribute_name 'withdraws' %></h4>
        </div>
        <div class="row-fluid">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th><%= Withdraw.human_attribute_name 'amount' %></th>
                <th><%= Withdraw.human_attribute_name 'collected_at' %></th>
              </tr>
            </thead>
            <tbody id="withdraws_container">
              <%= f.simple_fields_for :withdraws do |pj_f| %>
                  <%= render partial: 'withdraw', locals: { f: pj_f } %>
              <% end %>
            </tbody>
          </table>
          <%= link_to t('view.shift_closures.add_withdraw'), '#',
            class: 'btn btn-mini',
            title: t('view.shift_closures.add_withdraw_title'),
            data: {
              template: 'withdraw',
              container: '#withdraws_container',
              event: 'addNestedItem'
            } %>
        </div>
        <div class="row-fluid">
          <h4><%= ShiftClosure.human_attribute_name 'upfronts' %></h4>
        </div>
        <div class="row-fluid">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th><%= Upfront.human_attribute_name 'amount' %></th>
                <th><%= Upfront.human_attribute_name 'operator_id' %></th>
              </tr>
            </thead>
            <tbody id="upfronts_container">
              <%= f.simple_fields_for :upfronts do |pj_f| %>
                  <%= render partial: 'upfront', locals: { f: pj_f } %>
              <% end %>
            </tbody>
          </table>
          <%= link_to t('view.shift_closures.add_upfront'), '#',
            class: 'btn btn-mini',
            title: t('view.shift_closures.add_upfront_title'),
            data: {
              template: 'upfront',
              container: '#upfronts_container',
              event: 'addNestedItem'
            } %>
        </div>
      </div>
    </div>
    <hr />
    <div class="row-fluid">
      <%= f.input :comments,
        input_html: { class: 'span12' } %>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
