<table class="table table-striped">
  <thead>
    <tr>
      <th><%= ShiftClosure.human_attribute_name 'start_at' %></th>
      <th><%= ShiftClosure.human_attribute_name 'finish_at' %></th>
      <th><%= ShiftClosure.human_attribute_name 'cashbox_amount' %></th>
      <th><%= ShiftClosure.human_attribute_name 'failed_copies' %></th>
      <th><%= ShiftClosure.human_attribute_name 'user_id' %></th>
      <th><%= ShiftClosure.human_attribute_name 'withdraws' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shift_closures.each do |shift_closure| %>
      <tr class="<%= 'error' if shift_closure.comments? %>">
        <td><%= l(shift_closure.start_at) %></td>
        <td><%= l(shift_closure.finish_at) if shift_closure.finish_at %></td>
        <td><%= number_to_currency shift_closure.cashbox_amount %></td>
        <td><%= shift_closure.failed_copies %></td>
        <td><%= shift_closure.user %></td>
        <td><%= number_to_currency shift_closure.total_withdraws %></td>
        <td><%= link_to_show shift_closure %></td>
        <td><%= link_to_edit edit_shift_closure_path(shift_closure) if can_edit_shift_closure?(shift_closure) %></td>
        <td><%= link_to_destroy shift_closure if current_user.not_shifted? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@shift_closure) %>

<div class="form-actions">
  <%= link_to t('label.new'), new_shift_closure_path,
    class: 'btn btn-primary' %>
</div>
