<% if @customer %>
  <div class="row">
    <div class="public-form-container span4 offset4">
      <% url = update_password_reset_path(token: params[:token]) %>
      <%= simple_form_for @customer, url: url, html: { method: :patch } do |f| %>
      <div class="form-inputs">
        <%= f.input :password, input_html: { autofocus: true, class: 'span3' } %>
        <%= f.input :password_confirmation, input_html: { class: 'span3' } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, t('view.password_resets.update_password'),
          class: 'btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
<% else %>
  <br />
  <div class="alert alert-info">
    <h4 class="alert-heading">
      <%= t('view.password_resets.customer_not_found') %>
    </h4>
  </div>
<% end %>
