<% if @customer %>
  <% url = password_resets_path(:token => params[:token]) %>
  <%= form_for(@customer, :url => url, :html => { :method => :put }) do |f| %>
    <%= show_error_messages(@customer) %>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, :maxlength => 255, :autofocus => true %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :maxlength => 255 %>
    </div>

    <div class="actions">
      <%= f.submit t(:update_password, :scope => [:view, :password_resets]) %>
    </div>
  <% end %>
<% else %>
  <p><%= t(:customer_not_found, :scope => [:view, :password_resets]) %></p>
<% end %>