<% if @customer %>
  <% url = update_password_reset_path(token: params[:token]) %>
  <%= simple_form_for @customer, url: url, html: { method: :put } do |f| %>
    <%= show_error_messages(@customer) %>

    <%= f.input :password, input_html: { autofocus: true } %>
    <%= f.input :password_confirmation %>
    <%= f.button :submit, t('view.password_resets.update_password') %>
  <% end %>
<% else %>
  <p><%= t('view.password_resets.customer_not_found') %></p>
<% end %>