<% id = dynamic_object_id('print_job', f) %>
<div class="print_job" id="<%= id %>" data-price="<%= f.object.price %>" 
  data-price-per-copy="<%= f.object.price_per_copy %>">
  <div class="row-fluid">
    <div class="span5">
      <%= f.object.file_name %>
    </div>
    <div class="span1">
      <%= f.input :copies, label: false,
        input_html: { maxlength: 5, value: f.object.copies, 
        class: 'price-modifier page-modifier span11', autocomplete: 'off' } %>
    </div>
    <div class="span1">
      <%= f.input :pages, label: false,
        input_html: { maxlength: 5, value: f.object.pages,
        class: 'price-modifier page-modifier span11', autocomplete: 'off',
        disabled: true } %>
    </div>
    <div class="span1">
      <%= f.input :range, label: false,
        input_html: { class: 'price-modifier page-modifier span11',
        autocomplete: 'off',  'data-range-pages' => f.object.range_pages } %>
    </div>
    <div class="span2">
      <%= print_job_types_select_combo(f) %>
    </div>
    <div class="span2">
      <% title = show_price_per_copy_title(f.object.price_per_copy) %>
      <span class="label money print_job_money" title="<%= title %>">
        <%= number_to_currency f.object.price %>
      </span>
      <%= link_to_remove_nested_item(f) %>
      <%= f.input :lock_version, as: :hidden %>
      <%= f.input :order_file_id, as: :hidden %>
    </div>
  </div>
</div>
