<%= simple_form_for @print do |f| %>
  <% if @print.new_record? %>
    <%= content_for :js_extra do %>
      <%= raw "var print_job='#{generate_template(f, :print_jobs,
        locals: { disabled: false })}';" %>
      <%= raw "var article_line='#{generate_template(
        f, :article_lines, locals: { disabled: false }
      )}';" %>
    <% end %>
  <% end %>
  
  <div class="form-inputs">
    <div class="row-fluid">
      <div class="span6">
        <%= print_destinations_field(f) %>
        <%= f.input :scheduled_at, as: :datetime_picker,
          input_html: { class: 'span11' } %>
      </div>
      <div class="span6">
        <%= f.label :customer, print_customer_label(@print.customer),
          for: :print_auto_customer_name %>
        <% field_classes = ['autocomplete_field', 'span11'] %>
        <% field_classes << 'error' unless @print.errors[:customer_id].blank? %>
        <%= f.input :auto_customer_name, label: false, input_html: { 
          value: @print.customer, class: field_classes.join(' '),
          data: {
            'autocomplete-url' => autocomplete_for_customer_name_prints_path(format: :json)
          }
        } %>
        <%= link_to_function 'X',
          "Print.clearCustomer(); $(this).remove()",
          class: 'remove' if @print.customer %>
        <%= f.input :customer_id, as: :hidden, 
          input_html: { class: 'autocomplete_id' } %>
        <%= hidden_field_tag :customer_free_credit,
          @print.customer.try(:free_credit), id: 'customer_free_credit' %>
        <div class="row-fluid">
          <div class="span6">
            <%= f.input :avoid_printing, as: :boolean %>
          </div>
          <div class="span6">
            <%= f.input :pay_later, as: :boolean %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="page-header">
      <h3><%= t 'view.prints.print_jobs' %></h3>
    </div>

    <div class="row-fluid">
      <div class="span5">
        <h4><%= PrintJob.human_attribute_name 'document_id' %></h4>
      </div>
      <div class="span1">
        <h4><%= PrintJob.human_attribute_name 'copies' %></h4>
      </div>
      <div class="span1">
        <h4><%= PrintJob.human_attribute_name 'pages' %></h4>
      </div>
      <div class="span1">  
        <h4><%= PrintJob.human_attribute_name 'price_per_copy' %></h4>
      </div>
      <div class="span1">
        <h4><%= PrintJob.human_attribute_name 'range' %></h4>
      </div>
      <div class="span1">
        <h4><%= PrintJob.human_attribute_name 'two_sided' %></h4>
      </div>
    </div>

    <div id="print_jobs">
      <% @print.print_jobs.build if @print.print_jobs.empty? %>
      <%= f.simple_fields_for :print_jobs do |pj_f| %>
        <%= render partial: 'print_job', locals: {
          f: pj_f, is_dynamic: false, disabled: @print.persisted?
        } %>
      <% end %>
    </div>

    <% if @print.new_record? %>
      <div>
        <%= link_to t('view.prints.add_print_job'), '#',
          id: 'add_print_job_link', class: 'btn btn-mini',
          title: t('view.prints.add_print_job_title'),
          data: {
            template: 'print_job',
            container: '#print_jobs',
            event: 'addNestedItem'
          }
        %>
      </div>
    <% end %>
    
    <div class="page-header">
      <h3><%= t 'view.prints.article_lines' %></h3>
    </div>

    <div class="row-fluid">
      <div class="span5">
        <h4><%= ArticleLine.human_attribute_name 'article_id' %></h4>
      </div>
      <div class="span1">
        <h4><%= ArticleLine.human_attribute_name 'units' %></h4>
      </div>
      <div class="span1">
        <h4><%= ArticleLine.human_attribute_name 'unit_price' %></h4>
      </div>
    </div>

    <div id="article_lines">
      <% @print.article_lines.build if @print.article_lines.empty? %>
      <%= f.simple_fields_for :article_lines do |pj_f| %>
        <%= render partial: 'article_line', locals: {
          f: pj_f, is_dynamic: false, disabled: !@print.new_record?
        } %>
      <% end %>
    </div>
    
    <% if @print.new_record? %>
      <div>
        <%= link_to t('view.prints.add_article_line'), '#',
          id: 'add_article_line_link', class: 'btn btn-mini',
          title: t('view.prints.add_article_line_title'),
          data: {
            template: 'article_line',
            container: '#article_lines',
            event: 'addNestedItem'
          }
        %>
      </div>
    <% end %>
    
    <div class="page-header">
      <h3><%= t 'view.prints.payment' %></h3>
    </div>

    <div id="payments">
      <div class="row-fluid">
        <div class="span3">
          <h4><%= Payment.human_attribute_name 'amount' %></h4>
        </div>
        <div class="span3">
          <h4><%= Payment.human_attribute_name 'paid' %></h4>
        </div>
        <div class="span3">&nbsp;</div>
        <div class="span3">
          <h4><%= Payment.human_attribute_name 'paid_with' %></h4>
        </div>
      </div>
      
      <%= f.simple_fields_for :payments do |p_f| %>
        <div class="row-fluid payment">
          <div class="span3">
            <%= p_f.input :amount, label: false, input_html: { 
              value: '%.3f' % p_f.object.amount,
              id: "payment_#{p_f.object.paid_with}_amount",
              max: 999999999999999, size: nil, readonly: true } %>
          </div>
          <div class="span3">
            <%= p_f.input :paid, label: false, input_html: {
              value: '%.3f' % p_f.object.paid,
              id: "payment_#{p_f.object.paid_with}_paid",
              max: 999999999999999, size: nil, readonly: p_f.object.credit? } %>
          </div>
          <div class="span3">
            <% if p_f.object.credit? %>
              <%= f.input :credit_password, label: false,
                placeholder: Print.human_attribute_name('credit_password'),
                input_html: { value: '', size: nil } %>
            <% else %>
              &nbsp;
            <% end %>
          </div>
          <div class="span3">
            <%= p_f.object.paid_with_text %>
            <%= p_f.input :paid_with, as: :hidden %>
            <%= p_f.input :lock_version, as: :hidden %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :order_id, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
    <%= hidden_field_tag :total_pages, @print.total_pages, id: 'total_pages',
      'data-price-per-one-sided' => Setting.price_per_one_sided_copy,
      'data-price-per-two-sided' => Setting.price_per_two_sided_copy %>
    <%= f.button :submit, class: 'btn-primary', id: 'print_submit',
      title: t('view.prints.print_title') %>
  </div>
<% end %>
<%= javascript_tag 'jQuery(function() { Print.updateTotalPrice(); });' if @print.new_record? %>
<script type="text/javascript">
  Print.cashPrefix = '#payment_<%= Payment::PAID_WITH[:cash] %>';
  Print.creditPrefix = '#payment_<%= Payment::PAID_WITH[:credit] %>';
  Print.printMessage = '<%= t('view.prints.print') %>';
  Print.saveMessage = '<%= t('helpers.submit.create', model: Print.model_name.human) %>';
</script>