<%= simple_form_for @print do |f| %>
  <% if @print.new_record? %>
    <%= content_for :js_extra do %>
      <%= raw "var print_job='#{generate_template(f, :print_jobs,
        locals: { disabled: false })}';" %>
      <%= raw "var article_line='#{generate_template(
        f, :article_lines, locals: { disabled: false }
      )}';" %>
    <% end %>
  <% end %>

  <div class="form-inputs">
    <%= f.error_notification %>
    <% if (errors = f.object.errors.full_messages).any? %>
      <div class="alert alert-error">
        <% errors.each do |error| %>
          - <%= error %><br />
        <% end %>
      </div>
    <% end %>
    <div class="row-fluid">
      <div class="span6">
        <%= print_destinations_field(f) %>
        <%= f.input :scheduled_at, as: :datetime_picker,
          input_html: { class: 'span11' } %>
      </div>
      <div class="span6">
        <%= f.label :customer, print_customer_label(@print.customer),
          for: :print_auto_customer_name %>
        <% field_classes = ['autocomplete-field', 'span11'] %>
        <% field_classes << 'error' unless @print.errors[:customer_id].blank? %>
        <%= f.input :auto_customer_name, label: false, input_html: {
          value: @print.customer, class: field_classes.join(' '),
          data: {
            'autocomplete-id-target' => '#print_customer_id',
            'autocomplete-url' => autocomplete_for_customer_name_prints_path(format: :json)
          }
        } %>
        <%= f.input :customer_id, as: :hidden,
          input_html: { class: 'autocomplete-id' } %>
        <%= hidden_field_tag :customer_free_credit,
          @print.customer.try(:free_credit), id: 'customer_free_credit' %>
        <div class="row-fluid">
          <div class="span6">
            <%= f.input :avoid_printing, as: :boolean %>
          </div>
          <div class="span6">
            <%= f.input :pay_later, as: :boolean, input_html: {
              checked: @print.customer.try(:reliable?) || @print.pay_later?
            } if current_user.admin %>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li class="active">
        <%= link_to(t('view.prints.print_jobs'),
          '#print_jobs_container', data: { toggle: 'tab' }
        ) %>
      </li>
      <li>
        <%= show_print_articles_tab_title %>
      </li>
      <li>
        <%= link_to t('view.prints.comment'),
          '#comment_container', data: { toggle: 'tab' } %>
      </li>
    </ul>

    <div class="tab-content">
      <div id="print_jobs_container" class="tab-pane active" data-jobs-container
        data-prices-list="<%= print_job_types_with_price_for_data %>"
        data-prices-one-sided="<%= one_sided_print_job_types_for_data %>"
        data-pages-list="<%= print_job_types_for_data_pages %>">
        <div class="row-fluid">
          <div class="span5">
            <h4><%= PrintJob.human_attribute_name 'document_id' %></h4>
          </div>
          <div class="span1">
            <h4><%= PrintJob.human_attribute_name 'copies' %></h4>
          </div>
          <div class="span1">
            <h4><%= PrintJob.human_attribute_name 'pages' %></h4>
          </div>
          <div class="span1">
            <h4><%= PrintJob.human_attribute_name 'range' %></h4>
          </div>
          <div class="span2">
            <h4><%= PrintJob.human_attribute_name 'print_job_type_id' %></h4>
          </div>
          <div class="span2"></div>
        </div>

        <div id="print_jobs">
          <% @print.print_jobs.build if @print.print_jobs.empty? %>
          <%= f.simple_fields_for :print_jobs do |pj_f| %>
            <% if pj_f.object.file_name.present? %>
              <%= render partial: 'file_print_job', locals: { f: pj_f } %>
            <% else %>
              <%= render partial: 'print_job', locals: {
                f: pj_f, is_dynamic: false, disabled: @print.persisted?
              } %>
            <% end %>
          <% end %>
        </div>

        <% if @print.new_record? %>
          <div class="row-fluid">
            <div class="span2">
              <%= link_to t('view.prints.add_print_job'), '#',
                id: 'add_print_job_link', class: 'btn btn-mini',
                title: t('view.prints.add_print_job_title'),
                data: {
                  template: 'print_job',
                  container: '#print_jobs',
                  event: 'addNestedItem'
                }
              %>
            </div>
            <div class="span8">
              <div class='hide progress progress-success progress-striped active'>
                <div class='bar' style='width: 0%;'></div>
              </div>
              <div id='file-upload-error' class="alert alert-error hide fade in">
                <%= t('messages.only_pdf_permitted') %>
              </div>
            </div>
            <div class="span2 pull-right">
              <%= link_to '&#xe045;'.html_safe, '#',
                title: t('view.prints.upload_file'),
                id: 'upload_file_buttom', class: 'btn btn-success iconic' %>
            </div>
          </div>
        <% end %>
      </div>

      <div id="articles_container" class="tab-pane">
        <div class="row-fluid">
          <div class="span5">
            <h4><%= ArticleLine.human_attribute_name 'article_id' %></h4>
          </div>
          <div class="span1">
            <h4><%= ArticleLine.human_attribute_name 'units' %></h4>
          </div>
          <div class="span1">
            <h4><%= ArticleLine.human_attribute_name 'unit_price' %></h4>
          </div>
        </div>

        <div id="article_lines">
          <% @print.article_lines.build if @print.article_lines.empty? %>
          <%= f.simple_fields_for :article_lines do |pj_f| %>
            <%= render partial: 'article_line', locals: {
              f: pj_f, is_dynamic: false, disabled: @print.persisted?
            } %>
          <% end %>
        </div>

        <% if @print.new_record? %>
          <div>
            <%= link_to t('view.prints.add_article_line'), '#',
              id: 'add_article_line_link', class: 'btn btn-mini',
              title: t('view.prints.add_article_line_title'),
              data: {
                template: 'article_line',
                container: '#article_lines',
                event: 'addNestedItem'
              }
            %>
          </div>
        <% end %>
      </div>

      <div id="comment_container" class="tab-pane">
        <div class="row-fluid">
          <div class="span12">
            <%= f.input :comment, label: false, input_html: {
              rows: 3, class: 'span12'
            } %>
          </div>
        </div>
      </div>
    </div>
    <div class="page-header">
      <h3><%= t 'view.prints.payment' %></h3>
    </div>

    <div id="payments">
      <div class="row-fluid">
        <div class="span3">
          <h4><%= Payment.human_attribute_name 'amount' %></h4>
        </div>
        <div class="span3">
          <h4><%= Payment.human_attribute_name 'paid' %></h4>
        </div>
        <div class="span3">&nbsp;</div>
        <div class="span3">
          <h4><%= Payment.human_attribute_name 'paid_with' %></h4>
        </div>
      </div>

      <%= f.simple_fields_for :payments do |p_f| %>
        <div class="row-fluid payment">
          <div class="span3">
            <%= p_f.input :amount, label: false, input_html: {
              value: '%.3f' % p_f.object.amount,
              id: "payment_#{p_f.object.paid_with}_amount",
              maxlength: 15, size: nil, readonly: true } %>
          </div>
          <div class="span3">
            <%= p_f.input :paid, label: false, input_html: {
              value: '%.3f' % p_f.object.paid,
              id: "payment_#{p_f.object.paid_with}_paid",
              maxlength: 15, size: nil, readonly: p_f.object.credit? } %>
          </div>
          <div class="span3">
            <% if p_f.object.credit? %>
              <%= f.input :credit_password, label: false,
                placeholder: Print.human_attribute_name('credit_password'),
                input_html: { value: '', size: nil } %>
            <% else %>
              &nbsp;
            <% end %>
          </div>
          <div class="span3">
            <%= p_f.object.paid_with_text %>
            <%= p_f.input :paid_with, as: :hidden %>
            <%= p_f.input :lock_version, as: :hidden %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :order_id, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary', id: 'print_submit',
      title: t('view.prints.print_title') %>
  </div>
<% end %>

<div id='upload-file' class='hidden'>
  <%= simple_form_for :file_line, url: upload_file_prints_path,
    data: { 'form-data' => 'script=true' } do |of| %>
      <%= of.input :file, as: :file, label: false,
         input_html: { multiple: true,data: { invisible: true } } %>
  <% end %>
</div>

<%= javascript_tag 'jQuery(function() { Print.updateTotalPrice(); });' if @print.new_record? %>
<script type="text/javascript">
  Print.cashPrefix = '#payment_<%= Payment::PAID_WITH[:cash] %>';
  Print.creditPrefix = '#payment_<%= Payment::PAID_WITH[:credit] %>';
  Print.printMessage = '<%= t('view.prints.print') %>';
  Print.saveMessage = '<%= t('helpers.submit.create', model: Print.model_name.human) %>';
</script>

<div class="modal fade" id="customer_credit_details">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3><%= t('view.prints.customer_credit_detail_header') %></h3>
  </div>
  <div class="modal-body"><%= t('messages.loading') %></div>
</div>
