<% id = dynamic_object_id('print_job', f) %>
<% hide = is_dynamic || f.object.marked_for_destruction? %>
<div class="print_job nested_item" id="<%= id %>" data-price="<%= f.object.price %>" <%= raw 'style="display: none;"' if hide %>>
  <div>
    <div class="nested_item_field">
      <% field_classes = [:autocomplete_field] %>
      <% field_classes << :field_with_errors unless f.object.errors[:document_id].blank? %>
      <%= f.text_field :auto_document_name, :disabled => disabled,
        :id => "auto_document_#{id}", :class => field_classes.join(' '),
        :value => f.object.document.try(:to_s),
        :'data-autocomplete-url' => autocomplete_for_document_name_prints_path(:format => :json) %>
      <%= f.hidden_field :document_id, :class => :autocomplete_id %>
    </div>
    <div class="nested_item_field">
      <%= f.text_field :copies, :maxlength => 5, :class => :price_modifier,
        :autocomplete => :off, :disabled => disabled %>
    </div>
    <div class="nested_item_field">
      <%= f.text_field :pages, :maxlength => 5, :class => :price_modifier,
        :autocomplete => :off,
        :disabled => disabled || !f.object.document.blank? %>
    </div>
    <div class="nested_item_field">
      <%= f.text_field :price_per_copy, :disabled => true,
        :class => :price_modifier, :autocomplete => :off %>
    </div>
    <div class="nested_item_field">
      <%= f.text_field :range, :maxlength => 255, :class => :price_modifier,
        :autocomplete => :off, :'data-range-pages' => f.object.range_pages,
        :disabled => disabled || (!f.object.new_record? && f.object.document.blank?) %>
    </div>
    <div class="nested_item_field">
      <%= f.check_box :two_sided, :class => :price_modifier,
        :disabled => disabled,
        :'data-price-per-one-sided' => f.object.price_per_one_sided_copy,
        :'data-price-per-two-sided' => f.object.price_per_two_sided_copy %>
    </div>
    <div class="nested_item_actions">
      <span class="money"><%= number_to_currency f.object.price %></span>
      <% unless disabled %>
        <%= link_to_remove_nested_item(f) %>
      <% end %>
      <%= link_to '...', f.object.document || document_path(:id => 0),
        :class => 'details_link action_link', :remote => true,
        :title => t(:'view.prints.document_details'),
        :style => ('display: none;' unless f.object.document) %>
      <%= f.hidden_field :lock_version %>
    </div>
    <div class="dynamic_details" id="<%= "document_details_#{id}" %>"></div>
  </div>
</div>
<% if is_dynamic %>
  <script type="text/javascript">
    Helper.show('#<%= id %>', function() {
      $('<%= "#auto_document_#{id}" %>').focus();
    });
    AutoComplete.observeAll();
  </script>
<% end -%>