<% if @customer %>
  <h2 class="title">
    <%= t('view.prints.prints_with_customer', customer: @customer.to_s) %>
  </h2>
<% end %>
<table class="list">
  <thead>
    <tr>
      <th><%= Print.human_attribute_name :id %></th>
      <th><%= Print.human_attribute_name :created_at %></th>
      <th><%= Document.human_attribute_name :code, count: 2 %></th>
      <th><%= Print.human_attribute_name :customer %></th>
      <th><%= Print.human_attribute_name :scheduled_at %></th>
      <th><%= Print.human_attribute_name :user %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prints.each do |print| %>
      <tr class="<%= (print.revoked ? 'revoked ' : '') + cycle('even', 'odd') %>">
        <td><%= print.id %></td>
        <td><%= l print.created_at, format: :short if print.created_at %></td>
        <td><%= display_print_jobs_codes(print) %></td>
        <td><%= print.customer || '-' %></td>
        <td><%= l print.scheduled_at, format: :short if print.scheduled_at %></td>
        <td><%= print.user %></td>
        <td><%= link_to t('label.show'), print %></td>
        <td><%= link_to t('label.edit'), edit_print_path(print, status: params[:status]) if print.pending_payment? || print.scheduled? %></td>
        <td><%= link_to t('view.prints.revoke'), revoke_print_path(print), method: :delete, confirm: t('messages.confirmation') if current_user.admin? && !print.revoked %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="links">
  <%= pagination_links(@prints) %>
  <%= link_to raw("<b>#{t('view.prints.new')}</b>"), new_print_path %>
  <% if @customer.nil? && params[:status] != 'scheduled' %>
    | <%= link_to(
        textilize_without_paragraph(t('view.prints.show_scheduled')),
        prints_path(status: 'scheduled')
      ) %>
  <% end %>
  <% if @customer.nil? && params[:status] != 'pending' %>
    | <%= link_to(
        textilize_without_paragraph(t('view.prints.show_pending')),
        prints_path(status: 'pending')
      ) %>
  <% end %>
  <% if params[:status] != 'all' %>
    | <%= link_to(
        textilize_without_paragraph(t('view.prints.show_all')),
        prints_path(status: 'all')
      ) %>
  <% end %>
</nav>