<div class="readonly-data">
  <% if @customer %>
    <h2>
      <%= t('view.prints.prints_with_customer', customer: @customer.to_s) %>
    </h2>

    <h3><%= [
      t('view.customers.to_pay_prints.total_debt'),
      number_to_currency(@customer.to_pay_amounts[:total_price])
    ].join(': ') %></h3>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= Print.human_attribute_name 'id' %></th>
        <th><%= Print.human_attribute_name 'created_at' %></th>
        <th>
          <span class="visible-desktop">
            <%= Document.human_attribute_name 'code', count: 0 %>
          </span>
        </th>
        <th>
          <span class="visible-desktop">
            <%= Print.human_attribute_name 'customer' %>
          </span>
        </th>
        <th>
          <span class="visible-desktop">
            <%= Print.human_attribute_name 'scheduled_at' %>
          </span>
        </th>
        <th>
          <span class="visible-desktop">
            <%= Print.human_attribute_name 'user' %>
          </span>
        </th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @prints.each do |print| %>
        <tr class="<%= print.revoked ? 'revoked ' : '' %>">
          <td><%= print.id %></td>
          <td><%= l print.created_at, format: :minimal if print.created_at %></td>
          <td>
            <span class="visible-desktop">
              <%= display_print_jobs_codes(print) %>
            </span>
          </td>
          <td>
            <span class="visible-desktop"><%= print.customer || '-' %></span>
          </td>
          <td>
            <span class="visible-desktop">
              <%= l print.scheduled_at, format: :minimal if print.scheduled_at %>
            </span>
          </td>
          <td><span class="visible-desktop"><%= print.user %></span></td>
          <td><%= link_to_copy new_print_path(copy_from: print.id) %></td>
          <td><%= link_to_show print %></td>
          <td><%= link_to_edit(
            edit_print_path(print, status: params[:status])
          ) if current_user &&  print.pending_payment? || print.scheduled? %></td>
          <td>
            <%= link_to(
              '&#x26d4;'.html_safe, revoke_print_path(print),
              method: :delete, title: t('view.prints.revoke'), class: 'iconic',
              data: {
                'show-tooltip' => true,
                'confirm' => t('messages.confirmation')
              }
            ) if current_user && current_user.admin? && !print.revoked %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= pagination_links(@prints) %>
</div>

<nav class="form-actions">
  <% if current_user %>
    <div class="btn-group">
      <%= link_to t('view.prints.new'), new_print_path, class: 'btn btn-primary' %>
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% if @customer.nil? && params[:status] != 'scheduled' %>
          <li>
            <%= link_to(
              textilize_without_paragraph(t('view.prints.show_scheduled.html')),
              prints_path(status: 'scheduled')
            ) %>
          </li>
        <% end %>
        <% if @customer.nil? && params[:status] != 'pending' %>
          <li>
            <%= link_to(
              textilize_without_paragraph(t('view.prints.show_pending.html')),
              prints_path(status: 'pending')
            ) %>
          </li>
        <% end %>
        <% if params[:status] != 'all' %>
          <li>
            <%= link_to(
              textilize_without_paragraph(t('view.prints.show_all.html')),
              prints_path(status: 'all')
            ) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</nav>
