<% if @customer %>
  <h2 class="title">
    <%= t(:prints_with_customer, :scope => [:view, :prints], :customer => @customer.to_s) %>
  </h2>
<% end %>
<table class="list">
  <thead>
    <tr>
      <th><%= Print.human_attribute_name :id %></th>
      <th><%= Print.human_attribute_name :created_at %></th>
      <th><%= Print.human_attribute_name :printer %></th>
      <th><%= Print.human_attribute_name :customer %></th>
      <th><%= Print.human_attribute_name :scheduled_at %></th>
      <th><%= Print.human_attribute_name :user %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @prints.each do |print| %>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%= print.id %></td>
        <td><%= l print.created_at, :format => :short if print.created_at %></td>
        <td><%= print.printer.blank? ? '-' : print.printer %></td>
        <td><%= print.customer || '-' %></td>
        <td><%= l print.scheduled_at, :format => :short if print.scheduled_at %></td>
        <td><%= print.user %></td>
        <td><%= link_to t(:'label.show'), print %></td>
        <td><%= link_to t(:'label.edit'), edit_print_path(print, :status => params[:status]) if print.pending_payment || print.scheduled? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="links">
  <%= pagination_links(@prints) %>
  <%= link_to "<b>#{t(:'view.prints.new')}</b>".html_safe, new_print_path %>
  <% if @customer.nil? && params[:status] != 'scheduled' %>
    | <%= link_to textilize_without_paragraph(t(:'view.prints.show_scheduled')),
          prints_path(:status => 'scheduled') %>
  <% end %>
  <% if @customer.nil? && params[:status] != 'pending' %>
    | <%= link_to textilize_without_paragraph(t(:'view.prints.show_pending')),
          prints_path(:status => 'pending') %>
  <% end %>
  <% if params[:status] != 'all' %>
    | <%= link_to textilize_without_paragraph(t(:'view.prints.show_all')),
          prints_path(:status => 'all') %>
  <% end %>
</nav>