<p>
  <b><%= Print.human_attribute_name :printer %></b>:
  <%= @print.printer %>
</p>

<p>
  <b><%= Print.human_attribute_name :customer %></b>:
  <%= @print.customer %>
</p>

<p>
  <b><%= Print.human_attribute_name :user %></b>:
  <%= @print.user %>
</p>

<nav class="links">
  <%= link_to t(:'label.edit'), edit_print_path(@print) %> |
  <%= link_to t(:'label.list'), prints_path %>
</nav>