<div class="readonly-data">
  <p>
    <b><%= Print.human_attribute_name 'printer' %></b>:
    <%= ::CustomCups.printer_name_for(@print.printer) %>
  </p>

  <p>
    <b><%= Print.human_attribute_name 'status' %></b>:
    <%= show_print_status @print %>
  </p>

  <% if(customer = @print.customer) %>
    <p>
      <b><%= Print.human_attribute_name 'customer' %></b>:
      <%= link_to customer, customer  %><br>
    </p>

    <p>
      <b><%= t('view.customers.current_deposits.other') %></b>:
      <%= number_to_currency customer.free_credit %><br>
    </p>
  <% end %>

  <p>
    <b><%= Print.human_attribute_name 'user' %></b>:
    <%= @print.user %>
  </p>

  <p>
    <b><%= Print.human_attribute_name 'scheduled_at' %></b>:
    <%= l @print.scheduled_at, format: :long if @print.scheduled_at %>
  </p>

  <% if @print.comment.present? %>
    <h3><%= Print.human_attribute_name 'comment' %></h3>
    <blockquote><%= simple_format @print.comment %></blockquote>
  <% end %>

  <% unless @print.print_jobs.empty? %>
    <section class="nested_items">
      <h3><%= t 'view.prints.print_jobs' %></h3>

      <table class="table table-condensed">
        <%= render 'print_job_titles' %>
        <tbody>
          <% @print.print_jobs.each do |print_job| %>
            <%= render 'print_job_detail', print_job: print_job %>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>

  <% unless @print.article_lines.empty? %>
    <section class="nested_items">
      <h3><%= t 'view.prints.article_lines' %></h3>

      <table class="table table-condensed">
        <%= render 'article_line_titles' %>
        <tbody>
          <% @print.article_lines.each do |article_line| %>
            <%= render 'article_line_detail', article_line: article_line %>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>

  <% unless @print.payments.empty? %>
    <section class="nested_items">
      <h3><%= t 'view.prints.payment' %></h3>

      <table class="table table-condensed">
        <thead>
          <tr>
            <th><%= Payment.human_attribute_name 'amount' %></th>
            <th><%= Payment.human_attribute_name 'paid' %></th>
            <th><%= Payment.human_attribute_name 'paid_with' %></th>
          </tr>
        </thead>
        <tbody>
          <% @print.payments.each do |payment| %>
            <tr>
              <td><%= number_to_currency payment.amount %></td>
              <td><%= number_to_currency payment.paid %></td>
              <td><%= payment.paid_with_text %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
</div>

<div class="form-actions">
  <% if current_user %>
    <%= link_to t('view.prints.new'), new_print_path, class: 'btn btn-primary' %> |
    <% if @print.customer_id.blank? %>
      <%= link_to t('view.prints.associate_customer'),
        '#', data: { target: '#associate_customer', toggle: 'modal' }, class: 'btn' %> |
    <% end %>
    <%= link_to t('view.prints.change_comment'),
      '#', data: { target: '#comment', toggle: 'modal' } %>

    <div class="pull-right">
      <% if @print.pending_payment? %>
        <%= link_to t('label.edit'), edit_print_path(@print) %> |
      <% end %>
      <%= link_to t('label.list'), prints_path %>
      <% if @print.customer_id.present? && current_user.admin? %>
        | <%= show_related_by_customer_links %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="modal fade hide" id="comment">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3><%= t('view.prints.change_comment') %></h3>
  </div>

  <div class="modal-body">
    <%= simple_form_for @print, url: change_comment_print_path(@print), method: :patch do |f| %>
      <%= f.input :comment, label: false, input_html: { rows: 5, class: 'span5' } %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="modal fade" id="associate_customer">
 <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3><%= t('view.prints.associate_customer') %></h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <%= label_tag :customer, nil, for: :auto_customer_name %>
      <%= text_field_tag :auto_customer_name, nil, class: 'autocomplete-field span11',
        autocomplete: 'nope',
        data: {
        'autocomplete-id-target' => '#assign_customer_id',
        'autocomplete-url' => autocomplete_for_customer_name_prints_path(format: :json)
      } %>
      <%= hidden_field_tag :assign_customer_id, nil, class: 'autocomplete-id  js-associate-customer_id-field' %>
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, class: 'span11 js-associate-password-field', autocomplete: 'nope' %>
      <br />
      <div class="alert alert-error hide">
         <span class="js-assign-customer-error"></span>
      </div>

      <div class="alert alert-info hide js-assign-customer-success">
         - <span class="js-assign-customer-from-credit"></span> <br />
         - <span class="js-assign-customer-to-pay"></span>
       </div>

      <div class="alert alert-error hide js-zero-balance">
        <%= t('view.prints.customer_without_credit') %>
      </div>

       <%= link_to t('view.prints.associate_customer'), associate_to_customer_print_path(@print), class: 'btn btn-primary js-associate-to-customer-link hide' %>
       <%= link_to t('view.prints.check_for_customer_association'), can_be_associate_to_customer_print_path(@print), class: 'btn btn-primary js-check-customer-can-be-assigned' %>
    </div>
  </div>
</div>
