<%= form_for(@article) do |f| %>
  <%= show_error_messages(@article) %>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code, :autofocus => true, :maxlength => 10 %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price, :maxlength => 15 %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.hidden_field :lock_version %>
    <%= f.submit %>
  </div>
<% end %>