<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Article.human_attribute_name 'code' %></th>
      <th><%= Article.human_attribute_name 'name' %></th>
      <th><%= Article.human_attribute_name 'price' %></th>
      <th><%= order_articles_by_stock %> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr class="<%= article.stock_color %>">
        <td><%= article.code %></td>
        <td><%= article.name %></td>
        <td><%= number_to_currency article.price %></td>
        <td><%= article.stock %></td>
        <td><%= link_to_show article %></td>
        <td><%= link_to_edit edit_article_path(article) %></td>
        <td><%= link_to_destroy article %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@articles) %>
<nav class="form-actions">
  <%= link_to t('label.new'), new_article_path, class: 'btn btn-primary' %> |
  <% if params[:disabled] %>
    <%= link_to t('label.list'), articles_path, class: 'btn' %>
  <% else %>
    <%= link_to t('label.disabled'), articles_path(disabled: true), class: 'btn' %>
  <% end %>
</nav>
