<h2 class="title"><%= @article %></h2>

<p><%= number_to_currency @article.price %></p>

<br />

<p><%= @article.description %></p>

<nav class="links">
  <%= link_to t('label.edit'), edit_article_path(@article) %> |
  <%= link_to t('label.list'), articles_path %>
</nav>