<div class="readonly-data">
  <h2><%= @article %></h2>

  <p><%= number_to_currency @article.price %></p>

  <p>
    <strong><%= Article.human_attribute_name 'stock' %></strong>:
    <%= @article.stock %>
  </p>
  <p>
    <strong><%= Article.human_attribute_name 'notification_stock' %></strong>:
    <%= @article.notification_stock %>
  </p>

  <br />

  <p>
    <strong><%= Article.human_attribute_name 'description' %></strong>:
    <%= simple_format @article.description %>
  </p>
</div>

<nav class="form-actions">
  <%= link_to t('label.edit'), edit_article_path(@article) %> |
  <%= link_to t('label.list'), articles_path %>
</nav>
