<%= form_for(@user) do |f| %>
  <%= show_error_messages(@user) %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :language %>
    <%= user_language_field(f) %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :default_printer %>
    <%= user_default_printer_field(f) %>
  </div>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.check_box :admin %>
    <%= f.label :admin %>
  </div>
  <div class="field">
    <%= f.check_box :enable %>
    <%= f.label :enable %>
  </div>
  <div class="actions">
    <%= f.hidden_field :lock_version %>
    <%= f.submit %>
  </div>
<% end %>