<%= simple_form_for @user, defaults: { input_html: { class: 'span8' } } do |f| %>
  <div class="form-inputs">
    <div class="row-fluid">
      <div class="span8">
        <%= f.input :name, input_html: { autofocus: true } %>
        <%= f.input :last_name %>
        <%= user_language_field(f) %>
        <%= f.input :email, required: true %>
        <%= user_default_printer_field(f) %>
        <%= f.input :lines_per_page, input_html: { maxlength: 2 } %>
        <%= f.input :username, required: true %>
        <%= f.input :password, required: true %>
        <%= f.input :password_confirmation, required: true %>
        <div class='row-fluid'>
          <div class='span3'>
            <%= f.input :admin, input_html: { class: ''} %>
          </div>
          <div class='span3'>
            <%= f.input :enable, input_html: { class: ''} %>
          </div>
          <div class='span3'>
            <%= f.input :not_shifted, input_html: { class: ''} %>
          </div>
        </div>
        <%= f.input :avatar %>
      </div>
      <div class="span4 hidden-phone">
        <div class="pull-right">
          <%= yield :show_avatar %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
