<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name :name %></th>
      <th><%= User.human_attribute_name :username %></th>
      <th><%= User.human_attribute_name :email %></th>
      <th><%= User.human_attribute_name :enable %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= [user.name, user.last_name].join(' ') %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= t(user.enable ? :yes : :no, :scope => [:label]) %></td>
        <td><%= link_to t(:'label.show'), user %></td>
        <td><%= link_to t(:'label.edit'), edit_user_path(user) %></td>
        <td><%= button_to t(:'label.delete'), user,
          :confirm => t(:'messages.confirmation'), :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="links">
  <%= link_to t(:'label.new'), new_user_path %>
</nav>