<table class="table table-striped">
  <thead>
    <tr>
      <th class="visible-desktop"></th>
      <th class="visible-desktop"><%= User.human_attribute_name 'name' %></th>
      <th><%= User.human_attribute_name 'username' %></th>
      <th class="visible-desktop"><%= User.human_attribute_name 'email' %></th>
      <th class="visible-desktop"><%= User.human_attribute_name 'admin' %></th>
      <th class="visible-desktop"><%= User.human_attribute_name 'enable' %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= 'disabled' unless user.enable %>">
        <td class="visible-desktop"><%= show_avatar user, :mini %></td>
        <td class="visible-desktop"><%= [user.name, user.last_name].join(' ') %></td>
        <td><%= user.username %></td>
        <td class="visible-desktop"><%= user.email %></td>
        <td class="visible-desktop"><%= t(user.admin ? 'label.yes' : 'label.no') %></td>
        <td class="visible-desktop"><%= t(user.enable ? 'label.yes' : 'label.no') %></td>
        <td><%= link_to_show user %></td>
        <td><%= link_to_edit edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@users) %>

<nav class="form-actions">
  <%= link_to t('label.new'), new_user_path, class: 'btn btn-primary' %>
</nav>