<table class="table table-striped">
  <thead>
    <tr>
      <th><span class="visible-desktop"></span></th>
      <th>
        <span class="visible-desktop">
          <%= User.human_attribute_name 'name' %>
        </span>
      </th>
      <th><%= User.human_attribute_name 'username' %></th>
      <th>
        <span class="visible-desktop">
          <%= User.human_attribute_name 'email' %>
        </span>
      </th>
      <th>
        <span class="visible-desktop">
          <%= User.human_attribute_name 'admin' %>
        </span>
      </th>
      <th>
        <span class="visible-desktop">
          <%= User.human_attribute_name 'enable' %>
        </span>
      </th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= 'disabled' unless user.enable %>">
        <td>
          <span class="visible-desktop">
            <%= show_avatar user, style: :mini, show_default: true %>
          </span>
        </td>
        <td>
          <span class="visible-desktop">
            <%= [user.name, user.last_name].join(' ') %>
          </span>
        </td>
        <td><%= user.username %></td>
        <td>
          <span class="visible-desktop"><%= user.email %></span>
        </td>
        <td>
          <span class="visible-desktop">
            <%= t(user.admin ? 'label.yes' : 'label.no') %>
          </span>
        </td>
        <td>
          <span class="visible-desktop">
            <%= t(user.enable ? 'label.yes' : 'label.no') %>
          </span>
        </td>
        <td><%= link_to_show user %></td>
        <td><%= link_to_edit edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@users) %>

<nav class="form-actions">
  <%= link_to t('label.new'), new_user_path, class: 'btn btn-primary' %>
</nav>
