<p>
  <b><%= User.human_attribute_name :name %></b>:
  <%= @user.name %>
</p>

<p>
  <b><%= User.human_attribute_name :last_name %></b>:
  <%= @user.last_name %>
</p>

<p>
  <b><%= User.human_attribute_name :language %></b>:
  <%= @user.language %>
</p>

<p>
  <b><%= User.human_attribute_name :email %></b>:
  <%= @user.email %>
</p>

<p>
  <b><%= User.human_attribute_name :username %></b>:
  <%= @user.username %>
</p>

<p>
  <b><%= User.human_attribute_name :enable %></b>:
  <%= t(@user.enable ? :yes : :no, :scope => [:label]) %>
</p>

<nav class="links">
  <%= link_to t(:'label.edit'), edit_user_path(@user) %> |
  <%= link_to t(:'label.list'), users_path %>
</nav>