<div class="navbar navbar-inverse navbar-fixed-top not-printable">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="iconic">&#xe055;</span>
      </a>

      <%= link_to t('app_name'), root_path, class: 'brand' %>

      <div class="nav-collapse">
        <ul class="nav">
          <%= content_tag(:li, link_to(t('customer_menu.catalog'), catalog_path),
            class: ('active' if controller_name == 'catalog')) %>
          <%= content_tag(:li, link_to(t('customer_menu.orders'), orders_path),
            class: ('active' if controller_name == 'orders' && ['new', 'create'].exclude?(action_name))) %>
          <%= content_tag(:li, link_to(t('view.catalog.new_order'), new_order_path),
            class: "strong #{('active' if controller_name == 'orders' && ['new', 'create'].include?(action_name))}") %>
          <%= content_tag(
            :li, link_to(t('menu.prints'), prints_path),
            class: "strong #{'active' if controller_name == 'prints'}"
          ) if current_customer.group_id? %>
          <%= content_tag(:li, link_to(t('customer_menu.credits'), credits_customer_path(current_customer)),
            class: "strong #{('active' if controller_name == 'customers' && action_name == 'credits')}") %>
        </ul>
        <%= render partial: 'shared/nav_search' if @searchable %>
        <ul class="nav pull-right">
          <li>
            <a id="user" data-credit="<%= current_customer.free_credit_minus_pendings %>">
              <%= content_tag(:li, link_to(
                current_customer.email,
                edit_profile_customer_path(current_customer)
              ), class: ('active' if controller_name == 'customers')) %>
            </a>
          </li>
          <li>
            <%= link_to(
              '&#x2192;'.html_safe, customer_sessions_path,
              'title' => t('menu.actions.logout'), 'class' => 'iconic',
              'data-show-tooltip' => true, 'data-placement' => 'bottom',
              'method' => :delete
            ) %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
