<% current_controller = controller.controller_name.to_sym %>
<% cache "customer_menu_#{locale}_#{current_controller}" do %>
  <nav id="menu_links">
    <ul>
      <%= content_tag(:li, link_to(t('customer_menu.catalog'), catalog_path),
        :class => (:selected if current_controller == :catalog)) %>
      <%= content_tag(:li, link_to(t('customer_menu.orders'), orders_path),
        :class => (:selected if current_controller == :orders)) %>
      <%= content_tag(:li, link_to(t('view.catalog.new_order'), new_order_path),
        :class => 'strong') %>
    </ul>
  </nav>
<% end %>
<nav id="user_actions">
  <div id="user" data-credit="<%= current_customer.free_credit_minus_pendings %>">
    <%= current_customer.email %>
  </div>
  <ul>
    <li><%= link_to t('menu.actions.logout'),
      customer_sessions_path, method: :delete %></li>
  </ul>
</nav>