<div class="filter">
  <%= simple_form_for :interval, html: { method: :get } do |f| %>
  <div class="row-fluid">
    <div class="span10">
      <div class="span3">
        <%= t("view.#{controller_name}.date_filter.start") %>
        <%= calendar_text_field f, :from, time: true, value: from_date %>
      </div>
      <div class="span3">
        <%= t("view.#{controller_name}.date_filter.end") %>
        <%= calendar_text_field f, :to, time: true, value: to_date %>
      </div>
      <div class="span3">
        <br />
        <%= f.button :submit,
                label: t("view.#{controller_name}.date_filter.apply") %>
      </div>
    </div>
  </div>
  <% end %>
</div>