<% options ||= {} %>
<% url = options[:url] || request.fullpath.sub(/\?.*/, '') %>
<% extra_parameters = options[:extra_parameters] || [] %>
<% query_string = params[:q] %>
<div id="search">
  <div>
    <%= form_for nil, :as => :search, :url => url, :html => {:method => :get} do |f| %>
      <table>
        <tbody>
          <tr>
            <td>
              <%= text_field_tag :q, query_string, :maxlength => 100,
                :autofocus => true, :id => :search_query %>
            </td>
            <td>
              <span class="button"><%= f.submit t(:'label.search') %></span>
            </td>
            <td>
              <%= link_to_unless query_string.blank?, t(:'label.cancel'), url %>
            </td>
          </tr>
        </tbody>
      </table>
      <% unless extra_parameters.empty? %>
        <div style="display: none;">
          <% extra_parameters.each do |parameter_name, parameter_value| %>
            <%= hidden_field_tag parameter_name, parameter_value %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>