<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="iconic">&#xe055;</span>
      </a>

      <%= link_to t('app_name'), root_path, class: 'brand' %>

      <div class="nav-collapse">
        <ul class="nav">
          <%= render partial: 'shared/menu_dropdowns/admin'  if current_user.admin %>
          <%= content_tag(
            :li, link_to(t('menu.customers'), customers_path),
            class: ('active' if controller_name == 'customers')
           ) unless current_user.admin %>
          <%= content_tag(:li, link_to(t('menu.prints'), prints_path),
            class: ('active' if controller_name == 'prints')) %>
          <%= content_tag(:li, link_to(t('menu.documents'), documents_path),
            class: ('active' if controller_name == 'documents')) %>
          <%= content_tag(:li, link_to(t('menu.tags'), tags_path),
            class: ('active' if controller_name == 'tags')) %>
          <%= content_tag(:li, link_to(orders_text, orders_path),
            class: ('active' if controller_name == 'orders')) %>
        </ul>
        <%= render partial: 'shared/nav_search' if @searchable %>
        <ul class="nav pull-right">
          <li>
            <%= link_to(
              current_user.username, user_path(current_user.id),
              'title' => t('label.show'),
              data: { 'show-tooltip' => true, 'placement' => 'bottom' }
            ) %>
          </li>
          <li>
            <% if current_user.not_shifted %>
              <%= link_to '&#x2192;'.html_safe, user_sessions_path, class: 'iconic',
                data: { title: t('menu.actions.logout'), method: :delete } %>
            <% else %>
              <%= link_to '&#x2192;'.html_safe, '#logout', 'class' => 'iconic',
                data: { 'toggle' => 'modal', 'placement' => 'bottom',
                'title' => t('menu.actions.logout'), 'show-tooltip' => true } %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade hide" id="logout">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3><%= t('view.shifts.close_session.title') %></h3>
  </div>
  <div class="modal-body">
    <p><%= t('view.shifts.close_session.body.html') %></p>
  </div>
  <div class="modal-footer">
    <div class="pull-left">
      <%= link_to t('view.shifts.close_session.exit'), user_sessions_path,
        class: 'btn', method: :delete %>
    </div>

    <%= link_to t('label.yes'), user_sessions_path(close_shift: true),
      class: 'btn btn-primary', method: :delete %>
  </div>
</div>
