<div class="row">
  <div class="span10 offset1">
    <section id="unexpected_error" class="alert alert-error">
      <header>
        <h2 class="alert-heading"><%= t('errors.header_message') %></h2>
      </header>

      <p><%= t('errors.apologies_for_the_inconvenience') %></p>
    </section>

    <% unless Rails.env.production? %>
      <section id="error_details">
        <header>
          <h3 class="well"><%= error.message %></h3>
        </header>

        <h4>Pila de llamadas</h4>
        <pre><%= error.backtrace.join("\n") %></pre>

        <h4>Parámetros</h4>
        <pre><%= params.try(:inspect) %></pre>
      </section>
    <% end %>
  </div>
</div>