<%= simple_form_for @setting do |f| %>
  <%= show_error_messages(@setting) %>

  <h2 class="title"><%= @setting.name %></h2>
  
  <%= f.input :value, input_html: { value: @setting.value, autofocus: true,
      :maxlength => 255, wrapper_html: { class: 'field' } } %>

  <div class="actions">
    <%= f.input :lock_version, as: :hidden %>
    <%= f.input :submit %>
  </div>
<% end %>

<nav class="links">
  <%= link_to t('label.show'), @setting %> |
  <%= link_to t('label.list'), settings_path %>
</nav>