<%= simple_form_for @setting do |f| %>
  <div class="form-inputs">
    <div class="page-header">
      <h2><%= @setting.name %></h2>
    </div>

    <%= f.input :value, as: :string, input_html: {
      value: @setting.value, autofocus: true, class: 'span6'
    } %>
    <%= f.input :lock_version, as: :hidden %>
  </div>
  <div class="form-actions">
    <div class="pull-right">
      <%= link_to t('label.show'), @setting %> |
      <%= link_to t('label.list'), settings_path %>
    </div>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
