<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Setting.human_attribute_name :name %></th>
      <th><%= Setting.human_attribute_name :value %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.name %></td>
        <td><%= setting.value %></td>
        <td><%= link_to_show setting %></td>
        <td><%= link_to_edit edit_setting_path(setting) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@settings) %>
