<section class="nested_items<%= ' cancelled' if cancelled %>">
  <h2>
    <%= t('view.customers.to_pay_prints.title') %>
    ( 
    <% if @customer.months_to_pay.size > 1 %>
      <%= link_to t('view.customers.to_pay_prints.month_to_pay'),
        customer_path(
          @customer, date: show_customer_first_month_to_pay(@customer)) %>   
    <% elsif @customer.months_to_pay.size == 1 %>
      <%= I18n.t(
        'view.customers.to_pay_prints.one_month_only_debt', 
          month: show_customer_the_only_month_of_debt(@customer)
      ) %>
    <% end %>
    )
  </h2>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('view.customers.to_pay_prints.columns.type') %></th>
        <th><%= t('view.customers.to_pay_prints.columns.count') %></th>
        <th><%= t('view.customers.to_pay_prints.columns.unit_price') %></th>
        <th><%= t('view.customers.to_pay_prints.columns.total_price') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= t('view.customers.to_pay_prints.rows.one_sided') %></td>
        <td><%= amounts[:one_sided_count] %></td>
        <td><%= number_to_currency amounts[:one_sided_price] %></td>
        <td><%= number_to_currency amounts[:one_sided_count] * amounts[:one_sided_price] %></td>
      </tr>
      <tr>
        <td><%= t('view.customers.to_pay_prints.rows.two_sided') %></td>
        <td><%= amounts[:two_sided_count] %></td>
        <td><%= number_to_currency amounts[:two_sided_price] %></td>
        <td><%= number_to_currency amounts[:two_sided_count] * amounts[:two_sided_price] %></td>
      </tr>
      <tr>
        <td>
          <strong><%= t('view.customers.to_pay_prints.rows.total') %></strong>
        </td>
        <td><strong><%= amounts[:total_count] %></strong></td>
        <td></td>
        <td><strong><%= show_total_to_pay_amount amounts %></strong></td>
      </tr>
    </tbody>
  </table>
  
  <% if cancelled %>
    <p class="highlight"><%= t('view.customers.to_pay_prints.debt_cancelled') %></p>
  <% else %>
    <div class="actions"><%= show_button_to_pay_debt(@customer) %></div>
  <% end %>
</section>