<% id = dynamic_object_id('deposit', f) %>
<% hide = is_dynamic || f.object.marked_for_destruction? %>
<div class="deposit row-fluid" id="<%= id %>" <%= raw 'style="display: none;"' if hide %>>
  <div class="span2">
    <%= f.input :amount, label: false,
      input_html: { value: '%.3f' % f.object.amount, maxlength: 15,
      autocomplete: :off, disabled: f.object.persisted?, class: 'span11',
      id: "deposit_amount_#{id}" } %>
  </div>
  <div class="span2">
    <%= f.input :remaining, label: false,
      input_html: { value: '%.3f' % f.object.remaining, class: 'span11',
      maxlength: 15, autocomplete: :off, disabled: true } %>
  </div>
  <% if f.object.created_at %>
    <div class="span3">
      <%= l(f.object.created_at, format: :minimal) %>
    </div>
  <% end %>
  <div class="span2">
    <%= link_to_remove_nested_item(f) %>
  </div>
  <div class="dynamic_details"></div>
</div>
<% if is_dynamic %>
  <script type="text/javascript">
    Helper.show('#<%= id %>', function() {
      $('#<%= "deposit_amount_#{id}" %>').focus();
    });
  </script>
<% end %>