<%= simple_form_for @customer, defaults: { input_html: { class: 'span11' } }  do |f| %>
  <%= content_for :js_extra do %>
    <%= raw "var bonus='#{generate_template(f, :bonuses, partial: 'bonus')}';" %>
    <%= raw "var deposit='#{generate_template(f, :deposits, partial: 'deposit')}';" %>
  <% end %>
  <div class="form-inputs">
    <div class="row-fluid">
      <div class="span6">
        <%= f.input :name, input_html: { autofocus: true } %>
        <%= f.input :lastname %>
        <%= f.input :identification%>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= select_for_customer_kinds(f) %>
      </div>

      <div class="span6">
        <% if current_user.admin %>
          <%= f.input :free_monthly_bonus, input_html: { maxlength: 15 } %>
          <div class="row-fluid">
            <div class="span6">
              <%= f.input :bonus_without_expiration, input_html: { class: ''} %>
            </div>
            <div class="span6">
              <%= link_to(
                t('view.customers.show_bonuses'), '#', data: {
                  action: 'show', target: '#bonuses_section'
                }
              ) %>
            </div>
          </div>
          <div id="bonuses_section" style="display: none;">
            <h3>
              <%= t(
                'view.customers.current_bonuses',
                count: @customer.current_bonuses.size
              ) %>
            </h3>

            <br />

            <div id="bonuses_headers" class="row-fluid">
              <div class="span3">
                <h4><%= Bonus.human_attribute_name 'amount' %></h4>
              </div>
              <div class="span3">
                <h4><%= Bonus.human_attribute_name 'remaining' %></h4>
              </div>
              <div class="span4">
                <h4><%= Bonus.human_attribute_name 'valid_until' %></h4>
              </div>
            </div>

            <div id="bonuses">
              <%= f.simple_fields_for :bonuses, @customer.current_bonuses do |b_f| %>
                <%= render partial: 'bonus', locals: { f: b_f, is_dynamic: false } %>
              <% end %>
            </div>

            <div class="add_nested_item">
              <%= link_to t('view.customers.add_bonus'), '#',
                id: 'add_bonus_link', class: 'btn btn-mini',
                'title' => t('view.customers.add_bonus_title'),
                'data-template' => 'bonus', 'data-container' => '#bonuses',
                'data-event' => 'addNestedItem' %>
            </div>

            <br />
          </div>
        <% end %>
        <div id="nested_items">
          <% @customer.deposits.build if @customer.current_deposits.empty? %>
          <h3>
            <%= t(
              'view.customers.current_deposits',
              count: @customer.current_deposits.size
            ) %>
          </h3>

          <br />

          <div id="deposits_headers" class="row-fluid">
            <div class="span3">
              <h4><%= Deposit.human_attribute_name 'amount' %></h4>
            </div>
            <div class="span3">
              <h4><%= Deposit.human_attribute_name 'remaining' %></h4>
            </div>&nbsp;
            <div class="span4">
              <h4><%= Deposit.human_attribute_name 'created_at' %></h4>
            </div>
          </div>

          <div id="deposits">
            <%= f.simple_fields_for :deposits, @customer.current_deposits do |d_f| %>
              <%= render partial: 'deposit', locals: { f: d_f, is_dynamic: false } %>
            <% end %>
          </div>

          <div class="add_nested_item">
            <%= link_to t('view.customers.add_deposit'), '#',
              id: 'add_deposit_link', class: 'btn btn-mini',
              'title' => t('view.customers.add_deposit_title'),
              'data-template' => 'deposit', 'data-container' => '#deposits',
              'data-event' => 'addNestedItem' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :enable, as: :hidden, input_html: { value: true } %>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
