<%= form_for(@customer) do |f| %>
  <%= show_error_messages(@customer) %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :identification %>
    <%= f.text_field :identification, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :free_monthly_bonus %>
    <%= f.text_field :free_monthly_bonus, :maxlength => 15 %>
  </div>
  <div class="actions">
    <%= f.hidden_field :lock_version %>
    <%= f.submit %>
  </div>
<% end %>