<%= form_for(@customer) do |f| %>
  <%= content_for :js_extra do -%>
    <%= raw "var bonus='#{generate_template(f, :bonuses, :partial => 'bonus')}';" %>
  <% end -%>
  <%= show_error_messages(@customer) %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :identification %>
    <%= f.text_field :identification, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :free_monthly_bonus %>
    <%= f.text_field :free_monthly_bonus, :maxlength => 15 %>
  </div>
  
  <section class="nested_items">
    <% @customer.bonuses.build if @customer.current_bonuses.empty? %>
    <h2>
      <%= t(:current_bonuses,
        :count => @customer.current_bonuses.size,
        :scope => [:view, :customers])
      %>
    </h2>
    
    <div id="bonuses_headers" class="headers">
      <h3><%= Bonus.human_attribute_name :amount %></h3>
      <h3><%= Bonus.human_attribute_name :remaining %></h3>
      <h3><%= Bonus.human_attribute_name :valid_until %></h3>
      <br class="break" />
    </div>

    <div id="bonuses" class="items">
      <%= f.fields_for :bonuses, @customer.current_bonuses do |b_f| %>
        <%= render :partial => 'bonus', :locals => {
          :f => b_f, :is_dynamic => false
        } %>
      <% end %>
    </div>
  </section>

  <div class="add_nested_item">
    <%= link_to t(:'view.customers.add_bonus'), '#', :id => :add_bonus_link,
      :'data-template' => :bonus, :'data-container' => :bonuses,
      :'data-event' => :add_nested_item,
      :title => t(:'view.customers.add_bonus_title') %>
  </div>
  
  <div class="actions">
    <%= f.hidden_field :lock_version %>
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  // Captura de atajos de teclado
  document.on('keydown', function(e) {
    var key = e.keyCode || e.which;

    // CTRL + ALT + E = Agregar una bonificación
    if((key == 66 || key == 98) && e.ctrlKey && e.altKey) {
      $('add_bonus_link').click();
      Event.stop(e);
    }
  });
</script>