<br />
<% date = params[:date] %>
<h3>
  <%= t('view.customers.to_pay_prints.month_title') %>
  <%= select_tag 'month_select_to_pay', options_for_select(
    show_customer_select_with_debt_months(@customer), selected: date
  ) %> |
  <%= link_to(
    t('view.customers.to_pay_prints.total_to_pay'),
    customer_path(@customer)
  ) %>
</h3>

<%= render 'related_debt', amounts: @customer.to_pay_amounts_by_month(date) %>

<% if cancelled %>
  <div class="alert alert-success">
    <%= t('view.customers.to_pay_prints.debt_cancelled') %>
  </div>
<% else %>
  <p><%= show_button_to_pay_month_debt(@customer, date) %></p>
<% end %>
