<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Customer.human_attribute_name 'name' %></th>
      <th><%= Customer.human_attribute_name 'identification' %></th>
      <th><%= Customer.human_attribute_name 'free_monthly_bonus' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr class="<%= 'disabled' unless customer.enable %>">
        <td><%= customer.to_s %> (<%= show_link_to_customer_prints(customer) %>)</td>
        <td><%= customer.identification %></td>
        <td><%= number_to_currency(customer.free_monthly_bonus || 0) %></td>
        <td><%= link_to_show customer %></td>
        <td><%= link_to_edit edit_customer_path(customer) %></td>
        <td><%= link_to_destroy customer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@customers) %>

<nav class="form-actions">
  <%= link_to t('label.new'), new_customer_path, class: 'btn btn-primary' %>
</nav>