<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Customer.human_attribute_name 'name' %></th>
      <th><%= Customer.human_attribute_name 'identification' %></th>
      <th><%= t('view.customers.current_deposits', count: 0 ) %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr class="<%= 'disabled' unless customer.enable %>">
        <td><%= customer.to_s %> (<%= show_link_to_customer_prints(customer) %>)</td>
        <td><%= customer.identification %></td>
        <td><%= number_to_currency(customer.free_credit || 0) %></td>
        <td><%= link_to_activate_customer customer unless customer.enable %></td>
        <td><%= link_to_show customer %></td>
        <td><%= link_to_edit edit_customer_path(customer) %></td>
        <td><%= link_to_destroy customer if current_user.admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@customers) %>

<div class="form-actions">
  <div class="btn-group">
    <%= link_to t('label.new'), new_customer_path, class: 'btn btn-primary' %>
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <% if params[:status] == 'with_debt' %>
          <%= link_to t('label.list'), customers_path %>
        <% else %>
          <%= link_to t('view.customers.to_pay_prints.with_debt'),
            customers_path(status: 'with_debt') %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
