<%= simple_form_for(@shift, defaults: { input_html: { class: 'span11' } }) do |f| %>
  <div class="form-inputs">
    <div class="row-fluid">
      <div class="span6">
        <%= f.input :start, as: :datetime_picker%>
        <%= f.input :finish, as: :datetime_picker %>
        <%= f.input :description, input_html: { rows: 5 } %>
        <div class="form-horizontal span7 <%= 'hide' unless @shift.user.admin? %>">
          <%= f.input :as_admin, collection: boolean_collection,
            prompt: false, include_blank: false, selected: @shift.as_admin
          %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
