<div class="readonly-data">
  <h2><%= @shift.user %></h2>

  <dl class="dl-horizontal">
    <dt><%= Shift.human_attribute_name 'start' %></dt>
    <dd><%= l @shift.start, format: :long %></dd>

    <dt><%= Shift.human_attribute_name 'finish' %></dt>
    <dd><%= @shift.finish ? l(@shift.finish, format: :long) : '-' %></dd>

    <dt><%= Shift.human_attribute_name 'description' %></dt>
    <dd><%= simple_format @shift.description %></dd>
  </dl>
</div>

<div class="form-actions">
  <% if current_user.admin? %>
    <%= link_to t('label.edit'), edit_shift_path(@shift) %> |
  <% end %>
  <%= link_to t('label.list'), shifts_path %>
</div>
