<%= simple_form_for @print_job_type, defaults: { input_html: { class: 'span6' } } do |f| %>
  <div class="form-inputs">
    <%= show_print_job_type_media_field(f) %>
    <%= f.input :name %>
    <abbr title="<%= t('view.print_job_types.syntax_explanation') %>">
      <%= f.label :price %>
    </abbr>
    <%= f.input :price, label: false,
      input_html: { placeholder: '0.20; >= 500 @ 0.18; >= 1000 @ 0.16' } %>
    <div class="row-fluid">
      <div class='span2'>
        <%= f.input :two_sided, input_html: { class: '' } %>
      </div>
      <div class='span2'>
        <%= f.input :default, input_html: { class: '' } %>
      </div>
      <div class='span2'>
        <%= f.input :enabled, input_html: { class: '' } %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
