<%= form_for(@order) do |f| %>
  <%= show_error_messages(@order) %>

  <div class="field">
    <%= f.label :scheduled_at %>
    <%= calendar_text_field f, :scheduled_at, true %>
  </div>
  
  <section class="nested_items">
    <h2><%= t 'view.orders.order_lines' %></h2>
    
    <div id="order_lines_headers" class="headers">
      <h3><%= OrderLine.human_attribute_name :document_id %></h3>
      <h3><%= OrderLine.human_attribute_name :copies %></h3>
      <h3><%= Document.human_attribute_name :pages %></h3>
      <h3><%= OrderLine.human_attribute_name :price_per_copy %></h3>
      <h3><%= OrderLine.human_attribute_name :two_sided %></h3>
      <br class="break" />
    </div>
    
    <div id="order_lines" class="items">
      <%= f.fields_for :order_lines do |ol_f| %>
        <%= render 'order_line', f: ol_f, disabled: !@order.new_record? %>
      <% end %>
    </div>
  </section>

  <%= render 'total', order: @order %>

  <div class="field">
    <%= link_to t('view.orders.notes_link'), '#', 'class' => 'show',
      'data-target' => '#notes' %>
    <div id="notes" style="display: none;">
      <br />
      <%= f.text_area :notes, autofocus: true %>
    </div>
  </div>
  
  <div class="actions">
    <%= f.hidden_field :lock_version %>
    <%= hidden_field_tag :total_pages, @order.total_pages, :id => 'total_pages',
      'data-price-per-one-sided' => Setting.price_per_one_sided_copy,
      'data-price-per-two-sided' => Setting.price_per_two_sided_copy %>
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  function updateTotalPrice() {
    var totalPrice = 0.0;
    var threshold = <%= CREDIT_THRESHOLD %>;
    var credit = parseFloat($('#user').data('credit')) || 0;
    
    $('.order_line:not([data-exclude-from-total])').each(function() {
      totalPrice += parseFloat($(this).data('price')) || 0;
    });
    
    if(totalPrice > 0 && (credit >= (totalPrice * threshold))) {
      $('#not_printed').hide();
      $('#printed').show();
    } else if(totalPrice > 0) {
      $('#printed').hide();
      $('#not_printed').show();
    }
    
    var money = $('#total span.money');
    
    money.html(money.html().replace(/(\d+.)+\d+/, totalPrice.toFixed(3)));
  }
  
  function updateOrderLinePrice(orderLine) {
    Jobs.updatePricePerCopy();
    
    var copies = parseInt(orderLine.find('input[name$="[copies]"]').val());
    var pages = parseInt(orderLine.find('input[name$="[pages]"]').val());
    var pricePerCopy = parseFloat(
      orderLine.find('input[name$="[price_per_copy]"]').val()
    );
    var pricePerOneSidedCopy = PriceChooser.choose(
      $('#total_pages').data('pricePerOneSided'), parseInt($('#total_pages').val())
    );
    var evenRange = pages - (pages % 2);
    var rest = (pages % 2) * pricePerOneSidedCopy;
    var olPrice = (copies * (pricePerCopy * evenRange + rest)) || 0;
    var money = orderLine.find('span.money');

    orderLine.data('price', olPrice.toFixed(3));
    money.html(money.html().replace(/(\d+.)+\d+/, olPrice.toFixed(3)));

    updateTotalPrice();
  }
  
  jQuery(function() {
    $('a.details_link').live('ajax:success', function(event, data) {
      Helper.show(
        $(this).parents('.order_line').find('.dynamic_details').hide().html(data)
      );
    });
    
    $('.order_line').live('item:removed', function() {
      $(this).data('excludeFromTotal', true).find(
        '.page_modifier:first'
      ).trigger('ph:page_modification');

      updateTotalPrice();
    });
    
    Jobs.listenTwoSidedChanges();
    
    $('.price_modifier').live('change keyup', function() {
      var element = $(this);

      updateOrderLinePrice(element.parents('.order_line'));
    });
    
    $('.page_modifier').live('change keyup ph:page_modification', function() {
    var totalPages = 0;
    
    $('.order_line').each(function() {
      var copies = parseInt($(this).find('input[name$="[copies]"]').val());
      var pages = parseInt($(this).find('input[name$="[pages]"]').val());
      
      totalPages += (copies || 0) * (pages || 0);
    });
    
    $('#total_pages').val(totalPages);
    
    $('.order_line').each(function() { updateOrderLinePrice($(this)); });
  });
  });
</script>