<div class='row-fluid'>
  <div id='upload-file' class='pull-right'>
    <%= simple_form_for :order_file, url: upload_file_orders_path, data: { 'form-data' => 'script=true' } do |of| %>
      <%= t('view.orders.upload_file') %>
      <%= of.input :file, as: :file, label: false, data: { 'form-data' => '{"script": "true"}' } %>
    <% end %>
    <div class='hide progress progress-success progress-striped active'>
      <div class='bar'></div>
    </div>
    <div id='file-upload-error' class="alert alert-error hide fade in">
      <%= t('messages.only_pdf_permitted') %>
    </div>
  </div>

  <%= simple_form_for @order, defaults: { input_html: { class: 'span11' } } do |f| %>

    <div class="form-inputs">
      <%= f.error_notification %>
      <%= f.error :base, class: 'alert alert-error' %>

      <%= f.input :scheduled_at, as: :datetime_picker,
        input_html: { disabled: @order.persisted?, class: 'span6' } %>
      <h3><%= t 'view.orders.order_lines' %></h3>
      <br />

      <div id="order_lines_headers" class="row-fluid">
        <div class="span5">
          <h4><%= OrderLine.human_attribute_name 'document_id' %></h4>
        </div>
        <div class="span1">
          <h4><%= OrderLine.human_attribute_name 'copies' %></h4>
        </div>
        <div class="span1">
          <h4 class="hidden-phone"><%= Document.human_attribute_name 'pages' %></h4>
        </div>
        <div class="span2">
          <h4 class="hidden-phone"><%= OrderLine.human_attribute_name 'price_per_copy' %></h4>
        </div>
        <div class="span2">
          <h4><%= OrderLine.human_attribute_name 'two_sided' %></h4>
        </div>
      </div>

      <div id='order_files'>
        <%= f.simple_fields_for :order_files do |of| %>
          <% if of.object.file.present? || of.object.file_cache.present? %>
            <%= render partial: 'order_file', locals: { order_file: of } %>
          <% end %>
        <% end %>
      </div>

      <div id="order_lines">
        <%= f.simple_fields_for :order_lines do |ol| %>
          <%= render 'order_line', f: ol, disabled: @order.persisted? %>
        <% end %>
      </div>

      <%= render 'total', order: @order %>
      
      <hr />
      
      <div class="row-fluid">
        <div class="span5">
          <%= link_to t('view.orders.notes_link'), '#',
            data: { target: '#notes', action: 'show' } %>    
          <div id="notes" style="display: none;">
            <%= f.input :notes, input_html: { autofocus: true, rows: 4 } %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'printed_footer' %>
</div>
    
  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= hidden_field_tag :total_pages, @order.total_pages, id: 'total_pages',
      data: {
        'price-per-one-sided' => Setting.price_per_one_sided_copy,
        'price-per-two-sided' => Setting.price_per_two_sided_copy
      }
    %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>

<% content_for :js_extra do %>
  <%= raw "Messages.fileUploadWarning = '#{t('messages.file_upload_warning')}';" %>
<% end %>

<script type="text/javascript">
  Order.threshold = <%= CREDIT_THRESHOLD %>;
</script>
