<div id='upload-file' class='pull-right'>
  <%= simple_form_for :file_line, url: upload_file_orders_path, data: { 'form-data' => 'script=true' } do |of| %>
    <%= t('view.orders.upload_file') %>
    <%= of.input :file, as: :file, label: false, input_html: {
        class: 'js-uploader-input',
        multiple: true,
        data: { invisible: true }
        #data: { 'form-data' => '{"script": "true"}' }
      } %>
  <% end %>
  <div class='hide progress progress-success progress-striped active'>
    <div class='bar' style='width: 0%;'></div>
  </div>
  <div class="alert alert-error hide fade in js-file-upload-error"
    data-wrong-format="<%= t('messages.only_pdf_permitted') %>"
    data-broken-pdf="<%= t('messages.broken_pdf') %>"
  >
  </div>
</div>

<%= simple_form_for @order, defaults: { input_html: { class: 'span11' } } do |f| %>

  <div class="form-inputs">
    <%= f.error_notification %>
    <%= f.error :base, class: 'alert alert-error' %>

    <%= f.input :scheduled_at, as: :datetime_picker,
      input_html: { disabled: @order.persisted?, class: 'span6' } %>
    <h3><%= t 'view.orders.order_lines' %></h3>
    <br />

    <div class="jobs-container"
      data-jobs-container="true"
      data-prices-list="<%= print_job_types_with_price_for_data %>"
      data-odd-pages-types="<%= one_sided_print_job_types_for_data %>"
      data-pages-list="<%= print_job_types_for_data_pages %>">
      <div id="order_lines_headers" class="row-fluid">
        <div class="span4">
          <h4><%= OrderLine.human_attribute_name 'document_id' %></h4>
        </div>
        <div class="span1">
          <h4><%= OrderLine.human_attribute_name 'copies' %></h4>
        </div>
        <div class="span1">
          <h4 class="hidden-phone"><%= Document.human_attribute_name 'pages' %></h4>
        </div>
        <div class="span2">
          <h4 class="hidden-phone">
            <%= OrderLine.human_attribute_name 'print_job_type_id' %>
          </h4>
        </div>
      </div>

      <div id='file_lines'>
        <%= f.simple_fields_for :file_lines do |of| %>
          <% if of.object.file.present? || of.object.file_cache.present? %>
            <%= render 'file_line', file_line: of %>
          <% end %>
        <% end %>
      </div>

      <div id="order_lines">
        <%= f.simple_fields_for :order_lines do |ol| %>
          <%= render 'order_line', f: ol, disabled: @order.persisted? %>
        <% end %>
      </div>
    </div>

    <%= render 'total', order: @order %>

    <hr />

    <div class="row-fluid">
      <div class="span5">
        <%= link_to t('view.orders.notes_link'), '#',
          data: { target: '#notes', action: 'show' } %>
        <div id="notes" style="display: none;">
          <%= f.input :notes, input_html: { autofocus: true, rows: 4 } %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'printed_footer' %>

  <%= render 'shared/feedback_footer' if current_customer %>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary skip-file-warning' %>
  </div>
<% end %>

<% content_for :js_extra do %>
  Messages.fileUploadWarning = '<%= t('messages.file_upload_warning') %>';
  Order.threshold = <%= CREDIT_THRESHOLD %>;
<% end %>
