<%= form_for(@order) do |f| %>
  <%= show_error_messages(@order) %>

  <div class="field">
    <%= f.label :scheduled_at %>
    <%= calendar_text_field f, :scheduled_at, time: true,
      disabled: !@order.new_record? %>
  </div>
  
  <section class="nested_items">
    <h2><%= t 'view.orders.order_lines' %></h2>
    
    <div id="order_lines_headers" class="headers">
      <h3><%= OrderLine.human_attribute_name :document_id %></h3>
      <h3><%= OrderLine.human_attribute_name :copies %></h3>
      <h3 class="expendable"><%= Document.human_attribute_name :pages %></h3>
      <h3 class="expendable"><%= OrderLine.human_attribute_name :price_per_copy %></h3>
      <h3><%= OrderLine.human_attribute_name :two_sided %></h3>
      <br class="break" />
    </div>
    
    <div id="order_lines" class="items">
      <%= f.fields_for :order_lines do |ol_f| %>
        <%= render 'order_line', f: ol_f, disabled: !@order.new_record? %>
      <% end %>
    </div>
  </section>

  <%= render 'total', order: @order %>

  <div class="field">
    <%= link_to t('view.orders.notes_link'), '#', 'class' => 'show',
      'data-target' => '#notes' %>
    <div id="notes" style="display: none;">
      <br />
      <%= f.text_area :notes, autofocus: true %>
    </div>
  </div>
  
  <div class="actions">
    <%= f.hidden_field :lock_version %>
    <%= hidden_field_tag :total_pages, @order.total_pages, id: 'total_pages',
      'data-price-per-one-sided' => Setting.price_per_one_sided_copy,
      'data-price-per-two-sided' => Setting.price_per_two_sided_copy %>
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  Order.threshold = <%= CREDIT_THRESHOLD %>;
</script>