<% id = dynamic_object_id('order_line', f) %>
<% name = dynamic_object_name(f) %>
<div class="js-printable-job order_line" id="<%= id %>"
  data-price="<%= f.object.price %>"
  data-odd-pages=""
  data-price-per-copy="<%= f.object.price_per_copy %>">
  <div class="row-fluid">
    <div class="span4">
      <%= f.object.document %>
      <%= f.input :document_id, as: :hidden %>
    </div>
    <div class="span1">
      <%= f.input :copies, label: false,
      input_html: { maxlength: 5, autocomplete: 'off',
      class: 'price-modifier page-modifier js-job-copies span12'} %>
    </div>
    <div class="span1 hidden-phone">
      <%= f.input :pages, label: false, input_html: {
          value: f.object.document.try(:pages),
          class: 'price-modifier page-modifier js-job-pages span12', disabled: true
      } %>
    </div>
    <div class="span2">
      <%= print_job_types_select_combo(f) %>
    </div>
    <div class="span2">
      <% title = show_price_per_copy_title(f.object.price_per_copy) %>
      <span class="label money" title="<%= title %>">
        <%= number_to_currency f.object.price %>
      </span>
      <%= link_to_remove_nested_item(f) unless disabled %>
      <%= link_to '&#xe054;'.html_safe, show_catalog_path(f.object.document),
        class: 'iconic details-link hidden-phone',
        data: { remote: true },
        title: t('view.prints.document_details'),
        style: ('display: none;' unless f.object.document) %>
    </div>
  </div>
  <div class="dynamic_details" id="<%= "document_details_#{id}" %>"></div>
</div>
