<% id = dynamic_object_id('order_line', f) %>
<div class="order_line" id="<%= id %>" data-price="<%= f.object.price %>">
  <div class="row-fluid">
    <div class="span5">
      <%= f.object.document %>
      <%= f.input :document_id, as: :hidden %>
    </div>
    <div class="span1">
      <%= f.input :copies, label: false, 
      input_html: { maxlength: 5, autocomplete: 'off', 
      class: 'price-modifier page-modifier span12'} %>
    </div>
    <div class="span1 hidden-phone">
      <%= text_field_tag "document[#{f.object.document_id}][pages]",
      f.object.document.try(:pages),
      id: "order_line_pages_#{f.object.document_id}",
      class: 'price-modifier page-modifier span12', disabled: true %>
    </div>
    <div class="span2 hidden-phone"> 
      <%= f.input :price_per_copy, label: false, input_html: {
      disabled: true, class: 'price-modifier span6', autocomplete: 'off'} %>
    </div>
    <div class="span1">
      <%= f.input :two_sided, as: :boolean, label: false, 
      input_html: { class: 'price-modifier span12' } %>
    </div>
    <div class="span2">
      <span class="money"><%= number_to_currency f.object.price %></span>
      <% unless disabled %>
        <%= link_to_remove_nested_item(f) %>
      <% end %>
      <%= link_to '&#xe054;'.html_safe, show_catalog_path(f.object.document),
        class: 'iconic details-link hidden-phone',
        data: { remote: true },
        title: t('view.prints.document_details'),
        style: ('display: none;' unless f.object.document) %>
      <%= f.input :lock_version, as: :hidden %>
    </div>
  </div>
  <div class="dynamic_details" id="<%= "document_details_#{id}" %>"></div>
</div>
