<% order_file ||= build_order_file_form %>
<% id = "order_file_order_order_files_attributes_#{order_file.object_id}_" %>
<% name = "order[order_files_attributes][#{order_file.object_id}]" %>
<div class="order_line order_file" id="<%= "#{id}" %>"
  data-price="<%= order_file.object.price %>" 
  data-odd-pages=""
  data-price-per-copy="<%= order_file.object.price_per_copy %>">
  <div class="row-fluid">
    <div class="span4">
      <%= order_file.object.file_name %>
      <%= order_file.input :file_cache, as: :hidden, label: false, 
        input_html: { value: order_file.object.file_cache,
        name: "#{name}[file_cache]", id: "#{id}file_cache" } %>
    </div>
    <div class="span1">
      <%= order_file.input :copies, label: false, 
        input_html: { value: 1, maxlength: 5, autocomplete: 'off',
        name: "#{name}[copies]", id: "#{id}copies",
        class: 'price-modifier page-modifier span12' } %>
    </div>
    <div class="span1">
      <%= order_file.input :pages, label: false,
        input_html: { maxlength: 5, class: 'price-modifier page-modifier span11',
        autocomplete: 'off', disabled: true } %>
    </div>
    <div class="span2">
      <%= print_job_types_select_combo(order_file) %>
    </div>
    <div class="span2">
      <% title = show_price_per_copy_title(order_file.object.price_per_copy) %>
      <span class="label money" title="<%= title %>">
        <%= number_to_currency order_file.object.price %>
      </span>
      <%= link_to_remove_nested_item(nil, 'order_line') %>
    </div>
  </div>
</div>
