<footer id="order_meta" class="not_printable">
  <% if @order.pending? %>
    <% if @order.new_record? %>
      <div id="printed" <%= raw 'style="display: none"' unless @order.print %>>
        <p>
          Presioná <strong>Guardar Pedido</strong> y tus documentos estarán
          <strong>impresos</strong> y listo para la fecha programada
        </p>
      </div>

      <div id="not_printed" <%= raw 'style="display: none"' if @order.print %>>
        <p>
          Presioná <strong>Guardar Pedido</strong> y <strong>acercate</strong>
          personalmente hasta el centro de copiado para imprimir los documentos
        </p>
      </div>
    <% else %>
      <div id="printed" <%= raw 'style="display: none"' unless @order.print %>>
        <p>
          El pedido estará <strong>impreso</strong> y listo para la fecha
          programada
        </p>
      </div>

      <div id="not_printed" <%= raw 'style="display: none"' if @order.print %>>
        <p>
          Para imprimir los documentos <strong>acercate</strong> personalmente
          hasta el centro de copiado y consultá por el pedido
          <strong><%= @order.id %></strong>
        </p>
      </div>
    <% end %>
  <% end %>
  
  <div id="credit">
    <p>
      Tenés
      <span class="money">
        <%= number_to_currency current_customer.free_credit_minus_pendings %>
      </span>
      disponibles en tu cuenta.
      <%= link_to_function 'Nuestros precios', "$('#prices').fadeIn(200)" %>
    </p>
  </div>
  
  <div id="prices" style="display: none;">
    <% PriceChooser.humanize.each do |setting, values| %>
      <p>
        <%= setting %>:
        <%= raw values.map { |v| textilize_without_paragraph v }.to_sentence %>
      </p>
    <% end %>
  </div>
</footer>