<% if current_customer && @orders.empty? %>
  <%= render 'help/empty_orders' %>
<% else %>
  <table class="table table-striped">
    <%= show_orders_table_caption %>
    <thead>
      <tr>
        <th><%= Order.human_attribute_name :id %></th>
        <th class="hidden-phone"><%= Order.human_attribute_name :customer %></th>
        <th><%= Order.human_attribute_name :scheduled_at %></th>
        <th><%= Order.human_attribute_name :status %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @orders %>
    </tbody>
  </table>

  <%= pagination_links(@orders) %>

  <nav class="form-actions">
    <% if current_user %>
      <%= link_to t('view.orders.new_title'), new_for_customer_orders_path, class: 'btn btn-primary' %> |
      <% if order_type == 'print' %>
        <%= link_to(
          textilize_without_paragraph(t('view.orders.show_all')),
          orders_path, class: 'btn btn-primary'
        ) %>
      <% else %>
        <%= link_to(
          textilize_without_paragraph(t('view.orders.show_print')),
          orders_path(type: 'print'), class: 'btn btn-primary'
        ) %>
      <% end %>
    <% end %>
  </nav>
<% end %>
