<% if current_customer && @orders.empty? %>
  <%= render 'help/empty_orders' %>
<% else %>
  <%= render 'shared/search' unless current_customer %>
  <table class="list">
    <%= show_orders_table_caption %>
    <thead>
      <tr>
        <th><%= Order.human_attribute_name :id %></th>
        <th class="expendable"><%= Order.human_attribute_name :customer %></th>
        <th><%= Order.human_attribute_name :scheduled_at %></th>
        <th><%= Order.human_attribute_name :status %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= link_to order.id, custom_order_path(order) %></td>
          <td class="expendable"><%= order.customer %></td>
          <td><%= l order.scheduled_at, format: :short if order.scheduled_at %></td>
          <td><%= order.status_text %></td>
          <td><%= link_to_show custom_order_path(order) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <nav class="links">
    <%= pagination_links(@orders) %>
    <% unless current_customer %>
      <% if order_type == 'print' %>
        <%= link_to(
          textilize_without_paragraph(t('view.orders.show_all')),
          orders_path(type: 'all')
        ) %>
      <% else %>
        <%= link_to(
          textilize_without_paragraph(t('view.orders.show_print')),
          orders_path(type: 'print')
        ) %>
      <% end %>
    <% end %>
  </nav>
<% end %>