<% if @order.order_lines.blank? %>
  <%= render 'help/empty_order' %>
<% else %>
  <section id="check_order">
    <%= content_for :form_actions do %>
      <%= link_to t('label.back'), catalog_path %>
    <% end %>
    <%= render 'form' %>
  </section>

  <%= render 'printed_footer' %>
<% end %>