<div id="show_order" class="readonly-data">
  <div class="row-fluid">
    <div class="span6">
      <h2>
        <%= t(
          'view.orders.order_number',
          number: @order.id,
          status: @order.status_text
        ) %>
      </h2>
      <h3>
        <%= l @order.scheduled_at, format: :long if @order.scheduled_at %>
      </h3>
    </div>
    <% if current_customer %>
      <div class="span6">
        <p class="pull-right not-printable hidden-phone">
          <%= link_to t('view.orders.print'), '#', class: 'btn', data: {
              action: 'print'
          } %>
        </p>
      </div>
    <% end %>
  </div>
  
  <br />
  
  <% if @order.notes.present? %>
    <h4><%= Order.human_attribute_name 'notes' %></h4>
    <%= simple_format @order.notes %>
  <% end %>

  <% unless @order.order_lines.empty? %>
    <h3><%= t 'view.orders.order_lines' %></h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= OrderLine.human_attribute_name 'document_id' %></th>
          <th><%= OrderLine.human_attribute_name 'copies' %></th>
          <th class="hidden-phone"><%= Document.human_attribute_name 'pages' %></th>
          <th class="hidden-phone"><%= OrderLine.human_attribute_name 'price_per_copy' %></th>
          <th><%= OrderLine.human_attribute_name 'two_sided' %></th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_lines.each do |order_line| %>
          <tr>
            <td><%= order_line.document %></td>
            <td><%= order_line.copies %></td>
            <td class="hidden-phone"><%= order_line.document.try(:pages) %></td>
            <td class="hidden-phone"><%= number_to_currency order_line.price_per_copy %></td>
            <td><%= t(order_line.two_sided ? 'label.yes' : 'label.no') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render 'total', order: @order %>
  <% end %>
</div>

<br />
<%= render 'printed_footer' if current_customer %>

<nav class="form-actions">
  <%= nav_links_in_show_order(@order) %>
</nav>