<div id="show_order" class="readonly-data">
  <div class="row-fluid">
    <div class="span6">
      <h2 class="alert alert-info">
        <%= t(
          'view.orders.order_number',
          number: @order.id,
          status: @order.status_text
        ) %>
      </h2>
      <h3>
        <%= l @order.scheduled_at, format: :long if @order.scheduled_at %>
      </h3>
    </div>
    <% if current_customer %>
      <div class="span6">
        <p class="pull-right not-printable hidden-phone">
          <%= link_to t('view.orders.print'), '#', class: 'btn', data: {
              action: 'print'
          } %>
        </p>
      </div>
    <% end %>
  </div>

  <br />

  <% if @order.notes.present? %>
    <h4><%= Order.human_attribute_name 'notes' %></h4>
    <%= simple_format @order.notes %>
  <% end %>

  <% if @order.order_lines.present? || @order.file_lines.present? %>
    <% if @order.completed? %>
      <table class="table table-striped">
        <%= render 'prints/print_job_titles' %>

        <tbody>
          <% @order.print.print_jobs.each do |print_job| %>
            <%= render 'prints/print_job_detail', print_job: print_job %>
          <% end %>
        </tbody>
      </table>
      <% if @order.print.article_lines.size > 0 %>
        <table class="table table-striped">

          <%= render 'prints/article_line_titles' %>

          <tbody>
            <% @order.print.article_lines.each do |article_line| %>
              <%= render 'prints/article_line_detail', article_line: article_line %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% else %>
      <h3><%= t 'view.orders.order_lines' %></h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= OrderLine.human_attribute_name 'document_id' %></th>
            <th><%= OrderLine.human_attribute_name 'copies' %></th>
            <th class="hidden-phone"><%= Document.human_attribute_name 'pages' %></th>
            <th class="hidden-phone"><%= OrderLine.human_attribute_name 'price' %></th>
            <th class="hidden-phone"><%= OrderLine.human_attribute_name 'print_job_type_id' %></th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |oi| %>
            <%= render 'order_item_show', oi: oi, document: oi.try(:file).nil? %>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <%= render 'total', order: @order %>
  <% end %>
</div>

<br />
<%= render 'printed_footer' if current_customer %>
<%= render 'shared/feedback_footer' if current_customer %>

<nav class="form-actions">
  <%= nav_links_in_show_order(@order) %>
</nav>
