<section id="show_order" class="readonly_data">
  <div class="row-fluid">
    <div class="span6">
      <h2>
        <%= t(
          'view.orders.order_number',
          number: @order.id,
          status: @order.status_text
        ) %>
      </h2>
      <h3>
        <%= l @order.scheduled_at, format: :long if @order.scheduled_at %>
      </h3>
    </div>
    <div class="span6">
      <p class="not_printable expendable">
        <%= link_to_function t('view.orders.print'), 'window.print()' %>
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <% if @order.notes.present? %>
      <section>
        <h3><%= Order.human_attribute_name 'notes' %></h3>
        <%= simple_format @order.notes %>
      </section>
    <% end %>

    <% unless @order.order_lines.empty? %>
      <section class="span11">
        <h2><%= t 'view.orders.order_lines' %></h2>

        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= OrderLine.human_attribute_name 'document_id' %></th>
              <th><%= OrderLine.human_attribute_name 'copies' %></th>
              <th class="expendable"><%= Document.human_attribute_name 'pages' %></th>
              <th class="expendable"><%= OrderLine.human_attribute_name 'price_per_copy' %></th>
              <th><%= OrderLine.human_attribute_name 'two_sided' %></th>
            </tr>
          </thead>
          <tbody>
            <% @order.order_lines.each do |order_line| %>
              <tr>
                <td><%= order_line.document %></td>
                <td><%= order_line.copies %></td>
                <td class="expendable"><%= order_line.document.try(:pages) %></td>
                <td class="expendable"><%= number_to_currency order_line.price_per_copy %></td>
                <td><%= t(order_line.two_sided ? 'label.yes' : 'label.no') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= render 'total', order: @order %>
      </section>
    <% end %>
  </div>
</section>

<nav class="form-actions">
  <%= nav_links_in_show_order(@order) %>
</nav>

<%= render 'printed_footer' if current_customer %>