<%= simple_form_for @document, defaults: { input_html: { class: 'span11' } } do |f| %>
  <%= content_for :js_extra do %>
    <%= raw "var tag='#{escape_javascript render(partial: 'tag',
      locals: {is_dynamic: true, f: f, tag: nil})}';" %>
  <% end %>
  <div class="form-inputs">
    <div class="row-fluid">
      <div class="span6">
        <%= f.input :code, input_html: { autofocus: true, maxlength: 10 } %>
        <%= f.input :name %>
        <%= f.input :pages, input_html: { maxlength: 5, disabled: true } %>
        <%= f.input :stock, input_html: { maxlength: 5 } %>
        <%= show_document_media_field(f) %>
        <%= f.input :description, input_html: { rows: 4 } %>
        <%= f.input :file, hint: document_file_identifier(f.object), input_html: {
            class: ('error' unless @document.errors[:file_file_name].blank?)
        } %>
        <%= f.input :file_cache, as: :hidden %>
        <%= f.input :enable, input_html: { class: '' } %>
      </div>

      <div class="span6">
        <strong><%= t('view.documents.barcode') %></strong>:
        <%= document_link_to_barcode(@document.code.blank? ? 0 : @document.code) %>
      </div>
    </div>

    <div class="page-header">
      <h3><%= t('menu.tags') %></h3>
    </div>

    <div id="tags">
      <% @document.tags.each do |tag| %>
        <%= render partial: 'tag',
          locals: { is_dynamic: false, f: f, tag: tag } %>
      <% end %>
      <%= render partial: 'tag',
        locals: { is_dynamic: false, f: f, tag: nil } %>
    </div>

    <div class="add_nested_item">
      <%= link_to t('view.documents.add_tag'), '#', id: 'add_tag_link',
        'data-template' => 'tag', 'data-container' => '#tags',
        'data-event' => 'addNestedItem',
        title: t('view.documents.add_tag_title'), class: 'btn btn-mini' %>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
<%= render partial: 'shared/notice', locals: {
  hide: true,
  message: t('view.documents.processing_document')
} %>
