<%= form_for(@document, :html => { :multipart => true }) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(:header, :scope => [:errors, :template],
          :model => Document.model_name.human,
          :count => @document.errors.count) %>
      </h2>

      <ul>
        <% @document.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code, :autofocus => true, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :pages %>
    <%= f.text_field :pages, :maxlength => 5 %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <section class="tags">
    <h2><%= t(:'menu.tags') %></h2>
    <% unless @document.tags.empty? %>
      <ul class="raw">
        <% @document.tags.each do |tag| %>
          <li id="tag_<%= tag.id %>">
            <%= tag %>
            <%= hidden_field_tag 'document[tag_ids][]', tag.id,
              :id => "document_tag_#{tag.id}" %>
            <%= link_to 'X', '#', :'data-remove' => "tag_#{tag.id}" %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <div class="field">
      <%= f.text_field :add_by_auto_tag_name, :class => :autocomplete,
        :'data-autocomplete-url' => autocomplete_for_tag_name_documents_path %>
      <%= hidden_field_tag 'document[tag_ids][]', nil, :id => 'new_tag_id',
        :class => :autocomplete_id %>
      <div class="autocomplete" style="display: none;"></div>
    </div>
  </section>
  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.hidden_field :lock_version %>
    <%= f.submit %>
  </div>
<% end %>