<%= form_for(@document, :html => { :multipart => true }) do |f| %>
  <%= content_for :js_extra do -%>
    <%= raw "var tag='#{escape_javascript render(:partial => 'tag',
      :locals => {:is_dynamic => true, :f => f, :tag => nil})}';" %>
  <% end -%>
  <%= show_error_messages(@document) %>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code, :autofocus => true, :maxlength => 10 %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :pages %>
    <%= f.text_field :pages, :maxlength => 5, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :media %>
    <%= show_document_media_field(f) %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.check_box :enable %>
    <%= f.label :enable %>
  </div>
  <section class="nested_items">
    <h2><%= t(:'menu.tags') %></h2>

    <div id="tags" class="items">
      <% @document.tags.each do |tag| %>
        <%= render :partial => 'tag',
          :locals => { :is_dynamic => false, :f => f, :tag => tag } %>
      <% end %>
      <%= render :partial => 'tag',
        :locals => { :is_dynamic => false, :f => f, :tag => nil } %>
    </div>
  </section>

  <div class="add_nested_item">
    <%= link_to t(:'view.documents.add_tag'), '#', :id => :add_tag_link,
      :'data-template' => :tag, :'data-container' => '#tags',
      :'data-event' => 'addNestedItem',
      :title => t(:'view.documents.add_tag_title') %>
  </div>

  <div class="field">
    <%= f.label :file,
      :class => (:field_with_errors unless @document.errors[:file_file_name].blank?) %>
    <%= f.file_field :file,
      :class => (:field_with_errors unless @document.errors[:file_file_name].blank?) %>
    <%= link_to_if @document.file.file?, t(:'label.download'), @document.file.url %>
  </div>
  <div class="actions">
    <%= f.hidden_field :lock_version %>
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  // Captura de atajos de teclado
  $(document).keydown(function(e) {
    var key = e.which;

    // CTRL + ALT + E = Agregar una etiqueta
    if((key == 69 || key == 101) && e.ctrlKey && e.altKey) {
      $('#add_tag_link').click();
      e.preventDefault();
      e.stopPropagation();
    }
  });
</script>