<% id = "tag_#{tag.try(:id) || 'NEW_RECORD'}" %>
<div class="tag nested_item" id="<%= id %>" <%= raw 'style="display: none;"' if is_dynamic %>>
  <div>
    <div class="nested_item_field">
      <% unless tag %>
        <% field_classes = [:autocomplete_field] %>
        <% field_classes << :field_with_errors unless f.object.errors[:tag_id].blank? %>
        <%= f.text_field :auto_tag_name, :class => field_classes.join(' '),
          :'data-autocomplete-url' => autocomplete_for_tag_name_documents_path,
          :id => "autocomplete_tag_#{id}", :value => nil %>
      <% else %>
        <%= tag %>
      <% end %>
      <%= hidden_field_tag 'document[tag_ids][]', tag.try(:id),
        :id => "new_tag_#{id}", :class => :autocomplete_id %>
    </div>
    <div class="nested_item_actions">
      <%= link_to_remove_nested_item(nil, 'tag') %>
    </div>
    <div class="dynamic_details"></div>
  </div>
</div>
<% if is_dynamic %>
  <script type="text/javascript">
    Helper.show('#<%= id %>', function() {
      $('#<%= "autocomplete_tag_#{id}" %>').focus();
    });
    AutoComplete.observeAll();
  </script>
<% end -%>