<div class="readonly-data">
  <%= render 'shared/date_filter', from_date: @from_date, to_date: @to_date %>

  <% if @stub_print_jobs.try(:any?) %>
    <h3><%= t( 'view.documents.copies_stats') %></h3>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= Document.human_attribute_name 'name' %></th>
          <th><%= PrintJob.human_attribute_name 'copies' %></th>
        </tr>
      </thead>
      <tbody>
        <% @stub_print_jobs.each do |pj| %>
          <tr class="<%= 'error' unless pj.document.enable %>">
            <td><%= pj.document %></td>
            <td><%= pj.total_copies %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="form-actions">
  <%= link_to t('label.list'), documents_path %>
</div>
