<% if @tag %>
  <h2 class="title">
    <%= t('view.documents.documents_with_tag', tag: @tag.to_s) %>
  </h2>
<% end %>
<%= render partial: 'shared/search' %>
<table class="table">
  <thead>
    <tr>
      <th><%= sortable 'code', Document.human_attribute_name(:code) %></th>
      <th><%= sortable 'name', Document.human_attribute_name(:name) %></th>
      <th><%= Document.human_attribute_name :stock %></th>
      <th><%= Document.human_attribute_name :pages %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <% classes = [cycle('even', 'odd'), document.private ? 'private' : 'public'] %>
      <tr class="<%= classes.join(' ') %>">
        <td><%= document.code %></td>
        <td><%= document.name %></td>
        <td><%= document.stock %></td>
        <td><%= document.pages %></td>
        <td><%= document_link_for_use_in_next_print document %></td>
        <td><%= link_to_show document %></td>
        <td><%= link_to_edit edit_document_path(document) %></td>
        <td><%= link_to_destroy document %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="links">
  <%= pagination_links(@documents) %>
  <%= link_to t('label.new'), new_document_path %> |
  <%= link_to t('view.documents.new_print'), new_print_path %> |
  <%= link_to t('view.documents.clear_documents_for_printing'),
    request.parameters.merge(clear_documents_for_printing: true) %>
</nav>