<div class="document_details">
  <div class="document_data">
    <dl class="details">
      <dt><%= Document.human_attribute_name :code %>:</dt>
      <dd><%= @document.code %></dd>

      <dt><%= Document.human_attribute_name :name %>:</dt>
      <dd><%= @document.name %></dd>

      <dt><%= Document.human_attribute_name :pages %>:</dt>
      <dd><%= @document.pages %></dd>

      <dt><%= Document.human_attribute_name :media %>:</dt>
      <dd><%= show_document_media_text @document.media %></dd>

      <dt><%= Document.human_attribute_name :description %>:</dt>
      <dd><%= @document.description %>&nbsp;</dd>

      <dt><%= Document.human_attribute_name :file %>:</dt>
      <dd><%= link_to_if @document.file.file?, t(:'label.download'), @document.file.url %></dd>
    </dl>

    <% unless @document.tags.empty? %>
      <section>
        <h3 class="title"><%= t(:'menu.tags') %></h3>

        <ul class="raw">
          <% @document.tags.each do |tag| %>
            <li><%= tag %></li>
          <% end %>
        </ul>
      </section>
    <% end %>
  </div>
  
  <%= show_document_thumb(@document) %>

  <nav class="links">
    <% if request.xhr? %>
      <%= link_to t(:'label.show'), document_path(@document) %> |
      <%= link_to_function t(:'label.hide'), "this.up('.document_details').hide()" %>
    <% else %>
      <%= document_link_for_use_in_next_print @document %> |
      <%= link_to t(:'label.edit'), edit_document_path(@document) %> |
      <%= link_to t(:'label.list'), documents_path %>
    <% end %>
  </nav>
</div>