<% id = "document_details_#{@document.id}_#{rand(10000)}" %>
<div id="<%= id %>" class="document_details readonly-data clearfix">
  <div class="page-header">
    <h2>
      <%= image_tag('/cc.png', size: '40') if @document.is_public? %>
      <%= content_tag(@document.enable? ? 'span' : 's' , @document) %>
    </h2>
  </div>

  <div class="row-fluid">
    <div class="span8">
      <dl class="dl-horizontal">
        <dt><%= Document.human_attribute_name 'stock' %>:</dt>
        <dd><%= @document.stock %></dd>

        <dt><%= Document.human_attribute_name 'pages' %>:</dt>
        <dd><%= @document.pages %></dd>

        <dt><%= Document.human_attribute_name 'media' %>:</dt>
        <dd><%= show_document_media_text @document.media %></dd>

        <dt><%= Document.human_attribute_name 'description' %>:</dt>
        <dd><%= @document.description %>&nbsp;</dd>

        <dt><%= Document.human_attribute_name 'file' %>:</dt>
        <dd>
          <% if @document.file? %>
            <%= link_to(t('label.download'), @document.file.url) %> &nbsp;
            (<%= document_file_identifier(@document) %>)
          <% end %>
        </dd>

        <dt><%= Document.human_attribute_name 'original_file' %>:</dt>
        <dd>
          <% if @document.original_file? %>
            <%= link_to(t('label.download'), @document.original_file.url) %> &nbsp;
            (<%= document_original_file_identifier(@document) %>)
          <% else %>
              -
          <% end %>
        </dd>

        <dt><%= Document.human_attribute_name 'is_public' %>:</dt>
        <dd>
          <%= translate_boolean(@document.is_public?) %>
        </dd>

        <dt><%= t('view.documents.barcode') %>:</dt>
        <dd><%= document_link_to_barcode @document.code %></dd>
      </dl>

      <% unless @document.tags.empty? %>
        <h3><%= t('menu.tags') %></h3>
        <ul>
          <% @document.tags.each do |tag| %>
            <li><span class="label"><%= tag %></span></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="span4">
      <div id="document_mini_thumbs" class="carousel" data-interval="false">
        <div class="carousel-inner">
          <%= show_document_thumbs(@document) %>
        </div>

        <a class="carousel-control left" href="#document_mini_thumbs" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#document_mini_thumbs" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>

  <% if request.xhr? %>
    <nav class="form-actions">
      <%= link_to t('label.show'), document_path(@document) %> |
      <%= link_to t('label.hide'), '#', data: {
        action: 'remove', target: "##{id}"
      } %>
    </nav>
  <% end %>
</div>

<% unless request.xhr? %>
  <nav class="form-actions">
    <%= document_link_for_use_in_next_print @document %> |
    <%= link_to t('label.edit'), edit_document_path(@document) %> |
    <%= link_to t('label.list'), documents_path %>
  </nav>
<% end %>

<div class="modal fade hide" id="document_thumbs_modal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3><%= @document %></h3>
  </div>
  <div class="modal-body">
    <div id="document_thumbs" class="carousel" data-interval="false">
      <div class="carousel-inner">
        <%= show_document_thumbs(@document, :regular) %>
      </div>

      <a class="carousel-control left" href="#document_thumbs" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#document_thumbs" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</div>
