<%= simple_form_for @tag, defaults: { wrapper_html: { class: 'field'}} do |f| %>
  <%= show_error_messages(@tag) %>

    <%= f.input :name, input_html: { autofocus: true, maxlength: 255 } %>
    <%= f.input :private, as: :boolean %>

  <div class="actions">
    <%= f.input :parent_id, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit %>
  </div>
<% end %>