<%= form_for(@tag) do |f| %>
  <%= show_error_messages(@tag) %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.check_box :private %>
    <%= f.label :private %>
  </div>
  <div class="actions">
    <%= f.hidden_field :parent_id %>
    <%= f.hidden_field :lock_version %>
    <%= f.submit %>
  </div>
<% end %>