<% if @parent_tag %>
  <nav>
    <ul class="breadcrumb">
      <%= show_tag_path(@parent_tag) %>
    </ul>
  </nav>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Tag.human_attribute_name :name %></th>
      <th colspan="<%= current_user.admin? ? 3 : 1 %>"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr class="<%= tag.private ? 'private' : 'public' %>">
        <td><%= link_to tag.name, tags_path(parent: tag) %> (<%= show_link_to_tag_documents(tag) %>)</td>
        <td><%= link_to_show tag %></td>
        <% if current_user.admin? %>
          <td><%= link_to_edit edit_tag_path(tag) %></td>
          <td><%= link_to_destroy tag %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@tags) %>

<nav class="form-actions">
  <%= link_to t('label.new'), new_tag_path(parent: params[:parent]), 
    class: 'btn btn-primary' if current_user.admin? %>
</nav>