<table class="list">
  <thead>
    <tr>
      <th><%= Document.human_attribute_name :code %></th>
      <th><%= Document.model_name.human %></th>
      <th><%= t(:'menu.tags') %></th>
      <th><%= Document.human_attribute_name :pages %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%= document.code %></td>
        <td><%= catalog_document_link_with_name(document) %></td>
        <td><%= display_document_short_tags(document) %></td>
        <td><%= document.pages %></td>
        <td><%= catalog_document_to_order document %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="links">
  <%= pagination_links(@documents) %>
</nav>