<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable 'code', Document.human_attribute_name('code') %></th>
      <th><%= sortable 'name', Document.model_name.human %></th>
      <th class="hidden-phone"><%= t('menu.tags') %></th>
      <th class="hidden-phone"><%= Document.human_attribute_name 'pages' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.code %></td>
        <td>
          <%= image_tag('/cc.png', size: '20') if document.is_public? %>
          <%= catalog_document_link_with_name(document) %>
        </td>
        <td class="hidden-phone"><%= display_document_short_tags(document) %></td>
        <td class="hidden-phone"><%= document.pages %></td>
        <td><%= catalog_document_to_order document %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@documents) %>

<div class="form-actions">
  <div class='pull-right'>
    <%= link_to(
      t('label.back'), catalog_tags_path(parent_id: @tag.parent_id)
    ) if @tag %>
  </div>
  <%= link_to t('view.tags.index_title'), catalog_tags_path %>
</div>
