<% if @tag %>
  <h2 class="title">
    <%= t('view.documents.documents_with_tag', :tag => @tag.to_s) %>
  </h2>
<% end %>

<%= render 'shared/search' %>

<% if params[:q].blank? && @documents.blank? %>
  <%= render 'help/empty_catalog' %>
<% elsif params[:q].present? && @documents.blank? %>
  <%= render 'help/empty_search_in_catalog' %>
<% else %>
  <%= render 'table_catalog' %>
<% end %>