<% if @tag %>
  <h2 class="title">
    <%= t(:documents_with_tag, :scope => [:view, :documents], :tag => @tag.to_s) %>
  </h2>
<% end %>

<%= render :partial => 'shared/search' %>

<% if params[:q].blank? && @documents.blank? %>
  <%= render :partial => 'help/empty_catalog' %>
<% elsif params[:q].present? && @documents.blank? %>
  <%= render :partial => 'help/empty_search_in_catalog' %>
<% else %>
  <%= render :partial => 'table_catalog' %>
<% end %>