<% if @tag %>
  <h2 class="title">
    <%= t(:documents_with_tag, :scope => [:view, :documents], :tag => @tag.to_s) %>
  </h2>
<% end %>
<%= render :partial => 'shared/search' %>
<table class="list">
  <thead>
    <tr>
      <th><%= Document.human_attribute_name :code %></th>
      <th><%= Document.model_name.human %></th>
      <th><%= Document.human_attribute_name :pages %></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%= document.code %></td>
        <td><%= catalog_document_link_with_name(document) %></td>
        <td><%= document.pages %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="links">
  <%= pagination_links(@documents) %>
</nav>