<% amount = @payments.sum('amount') %>
<% paid = @payments.sum('paid') %>
<%= form_for :interval, :html => {:method => :get} do |f| %>
  <table class="summary">
    <thead>
      <tr>
        <th><%= t(:'view.payments.date_filter.start') %></th>
        <th><%= t(:'view.payments.date_filter.end') %></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= f.text_field :from, :value => l(@from_date, :format => :minimal), :class => :calendar, :'data-time' => true %></td>
        <td><%= f.text_field :to, :value => l(@to_date, :format => :minimal), :class => :calendar, :'data-time' => true %></td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit t(:'view.payments.date_filter.apply') %>
  </div>
<% end %>
<table class="list">
  <thead>
    <tr>
      <th><%= Payment.human_attribute_name :amount %></th>
      <th><%= Payment.human_attribute_name :paid %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= number_to_currency(amount) %></td>
      <td><%= number_to_currency(paid) %><%= '(*)' unless paid == 0 %></td>
    </tr>
  </tbody>
</table>

<p class="note">
  <%= t(:'view.payments.count', :count => @payments.count) %>
</p>

<% unless paid == 0 %>
  <section class="details">
    <h3>(*) <%= t(:payment_details, :scope => [:view, :payments]) %></h3>
    <ul class="raw">
      <% @payments.group(:paid_with).sum('paid').each do |paid_with, amount| %>
        <li><%= "#{show_paid_with_text(paid_with)}: #{number_to_currency(amount)}" %></li>
      <% end %>
    </ul>
  </section>
<% end %>