<% deposits_amount = @deposits.to_a.sum(&:amount) %>
<% payments_amount = @payments.to_a.sum(&:amount) %>
<% payments_paid = @payments.to_a.sum(&:paid) %>

<%= render 'shared/date_filter', from_date: @from_date, to_date: @to_date %>

<div class="readonly-data">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= Payment.human_attribute_name 'amount' %></th>
        <th><%= Payment.human_attribute_name 'paid' %></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= number_to_currency(payments_amount) %></td>
        <td>
          <%= number_to_currency(payments_paid) %><%= '(*)' unless payments_paid == 0 %>
        </td>
      </tr>
      <% if deposits_amount > 0 %>
        <tr>
          <td></td>
          <td><%= number_to_currency(deposits_amount) %>(**)</td>
        </tr>
      <% end %>
      <tr>
        <td><strong><%= t('view.payments.total') %></strong></td>
        <td>
          <strong><%= number_to_currency payments_paid + deposits_amount %></strong>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="alert alert-info">
    <%= show_payments_resume(deposits_amount) %>
  </p>

  <% unless payments_paid == 0 %>
    <br />
    <h3>(*) <%= t('view.payments.payment_details') %></h3>
    <ul>
      <% @payments.group(:paid_with).to_a.sum(&:paid).each do |paid_with, payments_amount| %>
        <li><%= "#{show_paid_with_text(paid_with)}: #{number_to_currency(payments_amount)}" %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<div class="form-actions"></div>
