<%= include_stats_js %>

<%= render 'shared/date_filter', from_date: @from_date, to_date: @to_date %>

<div class="readonly-data">
  <% if @printers_count.blank? %>
    <div class="alert alert-warning"><%= t('view.stats.empty_result') %></div>
  <% else %>
    <div id="graph"></div>
    <table class="table" data-graph-grid="true">
      <thead>
        <tr>
          <th><%= Print.human_attribute_name 'printer' %></th>
          <th><%= PrintJob.human_attribute_name 'printed_copies' %></th>
        </tr>
      </thead>

      <tbody>
        <% @printers_count.sort { |a,b| a[1] <=> b[1] }.each do |printer, count| %>
          <tr>
            <td data-label-column="true"><%= printer %></td>
            <td data-value-column="true"><%= count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br />
    <div class="row-fluid">
      <div class="span6">
        <h4><%= show_stats_total(@printers_count.sum(&:second)) %></h4>
      </div>
      <div class="span6">
        <div class="pull-right">
          <%= link_to t('view.stats.show_grid'), '#', class: 'show_grid btn' %>
          <%= link_to t('view.stats.show_graph'), '#', class: 'show_graph btn' %>
          <%= link_to t('view.stats.download_csv'),
            printer_stats_path(params.merge(format: :csv)), class: 'btn' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<nav class="form-actions">
  <div class="btn-group">
    <%= link_to t('view.stats.users_title'), user_stats_path,
      class: 'btn btn-primary' %>
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to t('view.stats.prints_title'), print_stats_path %></li>
    </ul>
  </div>
</nav>