<%= include_stats_js %>
<%= render partial: 'shared/date_filter', locals: {
  from_date: @from_date, to_date: @to_date
} %>
<% if @user_prints_count.blank? %>
  <p><%= t('view.stats.empty_result') %></p>
<% else %>
  <div class="actions">
    <%= link_to t('view.stats.show_grid'), '#', class: 'show_grid' %>
    <%= link_to t('view.stats.show_graph'), '#', class: 'show_graph' %>
  </div>
  <div id="graph"></div>
  <table class="list" data-graph-grid="true">
    <thead>
      <tr>
        <th><%= Print.human_attribute_name 'user' %></th>
        <th><%= t('menu.prints') %></th>
      </tr>
    </thead>

    <tbody>
      <% @user_prints_count.sort { |a,b| a[1] <=> b[1] }.each do |user_id, count| %>
        <tr>
          <td class="label"><%= User.find(user_id) %></td>
          <td class="value"><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <section class="details">
    <h3><%= show_stats_total_prints(@user_prints_count.sum(&:second)) %></h3>
  </section>
<% end %>
<nav class="links">
  <%= link_to t('view.stats.users_title'), user_stats_path %> |
  <%= link_to t('view.stats.printers_title'), printer_stats_path %>
</nav>