<%= render partial: 'shared/date_filter', locals: {
  from_date: @from_date, to_date: @to_date
} %>
<% if @users_count.blank? %>
  <p><%= t('view.stats.empty_result') %></p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th><%= Print.human_attribute_name 'user' %></th>
        <th><%= PrintJob.human_attribute_name 'printed_copies' %></th>
      </tr>
    </thead>

    <tbody>
      <% @users_count.sort { |a,b| a[1] <=> b[1] }.each do |user_id, count| %>
        <tr>
          <td><%= User.find(user_id) %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <section class="details">
    <h3><%= show_stats_total(@users_count.sum(&:second)) %></h3>
  </section>
<% end %>
<nav class="links">
  <%= link_to t('view.stats.printers_title'), printer_stats_path %>
</nav>