<%= include_stats_js %>
<%= render partial: 'shared/date_filter', locals: {
  from_date: @from_date, to_date: @to_date
} %>
<% if @users_count.blank? %>
  <p><%= t('view.stats.empty_result') %></p>
<% else %>
  <div class="form-actions">
    <%= link_to t('view.stats.show_grid'), '#', class: 'show_grid btn btn-info' %>
    <%= link_to t('view.stats.show_graph'), '#', class: 'show_graph btn btn-info' %> |
    <%= link_to t('view.stats.download_csv'),
      user_stats_path(params.merge(format: :csv)), class: 'btn btn-success' %>
  </div>
  <div id="graph"></div>
  <table class="table" data-graph-grid="true">
    <thead>
      <tr>
        <th><%= Print.human_attribute_name 'user' %></th>
        <th><%= PrintJob.human_attribute_name 'printed_copies' %></th>
      </tr>
    </thead>

    <tbody>
      <% @users_count.sort { |a,b| a[1] <=> b[1] }.each do |user, count| %>
        <tr>
          <td class="label"><%= user %></td>
          <td class="value"><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <section class="details">
    <h3><%= show_stats_total(@users_count.sum(&:second)) %></h3>
  </section>
<% end %>
<nav class="form-actions">
  <%= link_to t('view.stats.printers_title'), 
    printer_stats_path, class: 'btn btn-primary' %> |
  <%= link_to t('view.stats.prints_title'), 
    print_stats_path, class: 'btn btn-primary' %>
</nav>