<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(:header, :scope => [:errors, :template],
          :model => UserSession.model_name.human, :count => @user_session.errors.count) %>
      </h2>

      <ul>
        <% @user_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.check_box :remember_me %><%= f.label :remember_me %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>