<div id="login">
  <%= simple_form_for @user_session, defaults: { required: false } do |f| %>
    <%= f.input :username, input_html: { autocomplete: :off, autofocus: true } %>
    <%= f.input :password %>
    <%= f.input :remember_me, as: :boolean %>
    <%= f.button :submit, t('view.user_sessions.login') %>  
  <% end %>
</div>

<% if @user_session.errors.any? %>
  <div id="login_error">
    <p><%= @user_session.errors.full_messages.join('; ') %></p>
    <div class="close"><%= link_to_function 'X',
      "$('#login_error').slideUp()", :title => t('label.close') %></div>
  </div>
<% end %>