<!doctype html>
<% main_class = current_user || current_customer ? 'logged-in' : 'public' %>
<html class="<%= main_class %>">
  <head>
    <meta charset="utf-8" />
    <title><%= [t('app_name'), @title].compact.join(' | ') %></title>
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag 'application', media: 'screen' %>
    <%= stylesheet_link_tag 'print', media: 'print' if @can_print %>
    <%= javascript_include_tag 'application' %>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
    <%= javascript_tag do %>
      <%= raw "Messages.ajaxInProgressWarning = '#{t('messages.ajax_in_progress_warning')}';" %>
      <%= yield :js_extra %>
    <% end %>
    <%= yield :head_extra %>
  </head>
  <body id="<%= "ph_#{controller_name}" %>" data-action="<%= action_name %>" class="<%= main_class %>">
    <%= render 'shared/menu' %>

    <div id="loading-caption" class="alert" style="display: none;">
      <strong><%= t('messages.loading') %></strong>
    </div>

    <div class="container">
      <div class="content"><%= yield %></div>
    </div>

    <%= render 'shared/notice' if flash.notice %>
    <%= render 'shared/alert' if flash.alert %>
  </body>
</html>
