<!doctype html>
<% main_class = current_user || current_customer ? 'logged-in' : 'public' %>
<% main_class << " action-#{action_name}" %>
<html class="<%= main_class %>">
  <head>
    <meta charset="utf-8" />
    <title><%= [t('app_name'), @title].compact.join(' | ') %></title>
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag 'application', data: { 'turbolinks-track' => true } %>
    <%= stylesheet_link_tag 'print', media: 'print', data: { 'turbolinks-track' => true } if @can_print %>
    <%= javascript_include_tag 'application', data: { 'turbolinks-track' => true } %>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
    <%= javascript_tag do %>
      <%= raw "Messages.ajaxInProgressWarning = '#{j t('messages.ajax_in_progress_warning')}';" %>
    <% end %>
    <%= yield :head_extra %>
  </head>
  <body id="<%= "ph_#{controller_name}" %>" class="<%= main_class %>"
    data-action="<%= action_name %>">

    <%= render 'shared/menu' %>

    <div id="loading_caption" class="alert" style="display: none;">
      <strong><%= t('messages.loading') %></strong>
    </div>

    <div class="container">
      <div class="content"><%= yield %></div>
    </div>

    <%= render 'shared/notice' if flash.notice %>
    <%= render 'shared/alert' if flash.alert %>
    <%= javascript_tag(yield :js_extra) %>
  </body>
</html>
