<div class="filter form-inputs">
  <%= simple_form_for :interval, url: global_settlement_customers_groups_path, html: { method: :get } do |f| %>
  <div class="row-fluid">
    <div class="span1">
      <%= t('view.commons.date_filter.start') %>
    </div>
    <div class="span3">
      <%= f.input :from, as: :date_picker, label: false, input_html: {
        value: l(Date.today)
      } %>
    </div>
    <div class="span1">
      <%= t('view.commons.date_filter.end') %>
    </div>
    <div class="span3">
      <%= f.input :to, as: :date_picker, label: false, input_html: {
        value: l(1.month.ago.to_date)
      } %>
    </div>
    <div class="span4">
      <%= f.button :submit, t('view.customers_groups.global_settlement'), class: 'btn btn-inverse' %>
    </div>
  </div>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= CustomersGroup.human_attribute_name 'name' %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers_groups.each do |customers_group| %>
      <tr>
        <td><%= customers_group.name %></td>
        <td><%= link_to_show customers_group %></td>
        <td><%= link_to_edit edit_customers_group_path(customers_group) %></td>
        <td><%= link_to_destroy customers_group %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@customers_group) %>

<div class="form-actions">
  <%= link_to t('label.new'), new_customers_group_path,
    class: 'btn btn-primary' %>
</div>
