<table class="table table-striped">
  <thead>
    <tr>
      <th><%= CustomersGroup.human_attribute_name 'name' %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers_groups.each do |customers_group| %>
      <tr>
        <td><%= customers_group.name %></td>
        <td><%= link_to('&#xe042;'.html_safe,
          settlement_customers_group_path(customers_group),
          title: t('view.customers_groups.settlement'),
          data: { show_tooltip: true }, target: '_blank', class: 'iconic') %>
        </td>
        <td><%= link_to_show customers_group %></td>
        <td><%= link_to_edit edit_customers_group_path(customers_group) %></td>
        <td><%= link_to_destroy customers_group %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@customers_group) %>

<div class="form-actions">
  <div class="pull-right">
  <%= link_to t('view.customers_groups.global_settlement'),
    global_settlement_customers_groups_path, target: '_blank',
    class: 'btn btn-inverse' %>
  </div>
  <%= link_to t('label.new'), new_customers_group_path,
    class: 'btn btn-primary' %>
</div>
